StackLayout {
    margin: 10px;
}

.title {
    font-size: 30px;
    color: #4265d8;
    padding-top: 400px;
    text-align: center;
}

// .html {
//     color: red($color: #000000);
//     margin: 50px;
//     padding-top: -20px;
//     border-color: green($color: #000000);
// }