<StackLayout>
  <Label text="email-verify works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<!DOCTYPE html>

<div
  style="background-image:url(https://signup-new.ngdesk.com/ngdesk-landingpage/assets/images/landing.jpg); height: 100vh; background-size: 100vw 170vh">
  <div fxFlex="100" style="margin-top:200px">
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="isVerified == true">
      <label class="mat-display-3" style="margin-bottom: 30px">{{'CONGRATULATIONS' | translate}}!</label>
      <label fxLayout="row" class="mat-subheading-2"> {{'YOUR_EMAIL' | translate}} {{email}}
        {{'HAS_BEEN_VERIFIED' | translate}} <mat-icon>done</mat-icon></label>
      <label class="mat-subheading-2">
        {{'USE_YOUR_EMAIL' | translate}} </label>
      <button mat-raised-button color="primary" routerLink="/login">Login</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="isVerified == false">
      <mat-error class="mat-h1"> {{'TRY_AGAIN_OR_CONTACT_US' | translate}} </mat-error>
    </div>
  </div>
</div>

-->