<app-toolbar [templateRef]="customTemplateRef"></app-toolbar>
<ng-template #customTemplateRef>
	<div fxLayoutAlign="flex-end center">
		<button mat-raised-button color="primary" [routerLink]="['','guide']">{{'NGDESK_GUIDE' | translate}}</button>
	</div>
</ng-template>
<form [formGroup]="articleForm" (ngSubmit)="save()" *ngIf=isFormCreate>
	<div fxLayout="row" style="min-height: calc(100vh - 55px);">
		<div fxLayout="column" fxFlex="80" [ngStyle]="{'padding': '20px'}">
			<div fxLayout="column" class="pad10" fxFlexFill>
				<div><a fxFlexOffset="10" [routerLink]="['','guide', 'articles', 'manage', articleForm.value.SECTION]"
						class="mat-body">{{'MANAGE_ARTICLES' | translate}}</a></div>
				<mat-error fxLayoutAlign="center" class="mat-body">{{errorMessage}}</mat-error> <label fxLayoutAlign="center"
					class="mat-body green-color">{{successMessage}}</label>
				<div fxLayoutAlign="center" fxFlexOffset="10px">
					<mat-form-field fxFlex="80" appearance="outline">
						<mat-label>{{'TITLE' | translate}}</mat-label>
						<input matInput formControlName="title" required>
						<mat-error [innerHTML]="'FIELD_REQUIRED' | translate:errorParams.title"></mat-error>
					</mat-form-field>
				</div>
				<div fxLayout="row" fxLayoutAlign="center">
					<div fxLayoutAlign="center" class="text-no-bottom-padding no-hover-effect" fxLayout="column" fxFlex="80">
						<tinymce placeholder="" #editor formControlName="body" [config]="config"></tinymce>
						<div fxLayout="row" fxLayoutAlign="space-between center" [ngStyle]="{'border': '1px solid #ccc','border-top':'0px'}">
							<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px" [ngStyle]="{'font-size': '20px', 'padding': '10px'}">
								<mat-icon inline class="pointer" (click)="fileInput.click()">attach_file</mat-icon>
								<span class="mat-body-strong">(10mb max)</span><input hidden type="file" #fileInput (change)="onFileChange($event)">
								<ng-container *ngFor="let attachment of articleForm.get('attachments').value; index as i">
									<label class="mat-body-strong">{{attachment.fileName}}</label>
									<mat-icon class="pointer" (click)="removeFile(i)">close</mat-icon>
								</ng-container>
							</div>
						</div>
					</div>
				</div>
				<div fxLayoutAlign="center" *ngIf="articleForm.controls.body.dirty || articleForm.dirty">
					<mat-error fxFlex="77" *ngIf="articleForm.controls.body.errors?.required" class="mat-small"
						[innerHTML]="'FIELD_REQUIRED' | translate:errorParams.body"></mat-error>
				</div>
			</div>
		</div>
		<mat-divider [vertical]="true"></mat-divider>
		<div fxLayout="column" fxFlex="20" class="pad10" [ngStyle]="{'background': '#F8F9F9'}" fxLayoutGap="20px"><button mat-raised-button
				type="submit" color="primary">{{'SAVE' | translate}}</button>
			<section>
				<mat-slide-toggle color="primary" formControlName="publish"> <span>{{'PUBLISH' | translate}}</span></mat-slide-toggle>
			</section>
			<mat-form-field>
				<mat-label>{{'SOURCE_LANGUAGE' | translate}}</mat-label>
				<mat-select formControlName="sourceLanguage" required>
					<mat-option *ngFor="let lang of languages" [value]="lang.CODE">{{lang.NAME}}</mat-option>
				</mat-select>
				<mat-error [innerHTML]="'FIELD_REQUIRED' | translate:errorParams.sourceLanguage"></mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>{{'PUBLISH_IN_SECTION' | translate}}</mat-label>
				<mat-select formControlName="section" required>
					<mat-optgroup *ngFor="let category of categories" [label]="category.NAME" [disabled]="category.disabled">
						<mat-option *ngFor="let section of category.SECTIONS" [value]="section.sectionId">{{section.name}}</mat-option>
					</mat-optgroup>
				</mat-select>
				<mat-hint>{{'CHANGES_AFFECT_ALL_TRANSLATION' | translate}}</mat-hint>
				<mat-error [innerHTML]="'FIELD_REQUIRED' | translate:errorParams.section"></mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>{{'VISIBLE_TO' | translate}}</mat-label>
				<mat-chip-list #teamChipList required>
					<mat-chip *ngFor="let team of articleForm.value.visibleTo" [selectable]="true" [removable]="true"
						(removed)="remove(team, 'visibleTo')">
						{{team.NAME}}
						<mat-icon matChipRemove>cancel</mat-icon>
					</mat-chip>
					<input #teamInput [matAutocomplete]="autoTeam" [matChipInputFor]="teamChipList"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="resetInput($event)"
						[(ngModel)]="tempTeamInput" [formControl]="teamCtrl" (ngModelChange)="filterTeams()">
				</mat-chip-list>
				<mat-autocomplete #autoTeam="matAutocomplete" (optionSelected)="selected($event, ind, 'teamInput')" (closed)="teams = teamsInitial"
					(appAutocompleteScroll)="onTeamScroll()">
					<mat-option *ngFor="let team of articlesData.teamStore" [value]="team"
						[disabled]="articleForm.value.visibleTo.indexOf(articlesData.teamStore) != -1">
						{{team.NAME}}
					</mat-option>
				</mat-autocomplete>
				<mat-hint>{{'VISIBLE_CONTROL' | translate}}</mat-hint>
				<mat-error *ngIf="teamChipList.errorState" [innerHTML]="'FIELD_REQUIRED' | translate:errorParams.visibleTo"></mat-error>
			</mat-form-field>
			<mat-checkbox formControlName="openForComments">{{'OPEN_FOR_COMMENTS' | translate}}</mat-checkbox>
			<mat-form-field>
				<mat-label>{{'AUTHOR' | translate}}</mat-label>
				<input type="text" aria-label="Number" matInput [matAutocomplete]="auto" formControlName="author"
					(ngModelChange)="filterInputValues($event)">
				<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayConditionFn" (appAutocompleteScroll)="onUsersScroll()">
					<mat-option *ngFor="let author of articlesData.authorStore" [value]="author">
						{{author.CONTACT.PRIMARY_DISPLAY_FIELD }}
					</mat-option>
				</mat-autocomplete>
				<mat-error [innerHTML]="'FIELD_REQUIRED' | translate:errorParams.author"></mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-chip-list #chipList>
					<mat-chip *ngFor="let label of articleForm.value.labels" [selectable]="true" [removable]="true"
						(removed)="remove(label, 'labels')">{{label}}
						<mat-icon matChipRemove>cancel</mat-icon>
					</mat-chip> <input placeholder="{{'LABELS' | translate}}" [matChipInputFor]="chipList"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)">
				</mat-chip-list>
				<mat-hint>{{'LABELS_DESC' | translate}}</mat-hint>
			</mat-form-field>
			<div fxLayoutAlign="center" *ngIf="articleId !='new'">
				<button mat-raised-button color="warn" type="button" (click)="deleteArticle()">{{'DELETE_ARTICLE' | translate}}</button>
			</div>
		</div>
	</div>
</form>
