<StackLayout>
  <Label text="forgot-password works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<div fxLayout="column" style="margin-top:50px;height: 93vh">
  <div fxLayout=" row" fxLayoutAlign="center">
    <!-- TODO: will need to add typography to this, login, signup, etc ->
    <h1 color="primary" class="mat-h1">{{'FORGOT_PASSWORD' | translate}}</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="100">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()" fxFlex="50"
      fxFlex.lt-md="450px">
      <mat-card>
        <div fxLayoutAlign="center">
          <mat-error class="mat-h3" fxLayoutAlign="center" *ngIf="errorMessage != ''">{{errorMessage}}</mat-error>
        </div>
        <div fxLayout="column" fxLayoutGap="10px" *ngIf="!forgotPasswordSubmitted">
          <mat-form-field>
            <input matInput type="text" placeholder="{{'EMAIL_ADDRESS' | translate}}" name="forgot-password-email"
              formControlName="EMAIL_ADDRESS">
            <mat-error *ngIf="forgotPasswordForm.controls.EMAIL_ADDRESS.hasError('email') && !forgotPasswordForm.controls.EMAIL_ADDRESS.hasError('required')">
              {{'PLEASE_ENTER_VALID_EMAIL_ADDRESS' | translate}}
            </mat-error>
            <mat-error *ngIf="forgotPasswordForm.controls.EMAIL_ADDRESS.hasError('required')"
              [innerHTML]="'FIELD_REQUIRED' | translate: { field: translateService.instant('EMAIL_ADDRESS') }">
            </mat-error>
          </mat-form-field>
          <div id="ngdesk_gcaptcah" fxLayoutAlign="center"></div>
          <span class="mat-h3" fxLayoutAlign="center" *ngIf="captchaError">{{'PLEASE_CONFIRM_HUMANITY' | translate}}.</span>
          <button mat-raised-button color="primary" type="submit">{{'SUBMIT' | translate}}</button>
        </div>
        <div fxLayout="column" fxLayoutGap="10px" fxFlex *ngIf="forgotPasswordSubmitted">
          <label class="mat-h3" fxLayoutAlign="center">{{'IF_ACCOUNT_EXIST' | translate}}.</label>
          <label class="mat-h3" fxLayoutAlign="center">{{'IF_YOU_DONT_RECEIVE_EMAIL' | translate}}</label>
          <button mat-raised-button color="primary" (click)="goToLogin()">{{'BACK_TO_LOGIN' | translate}}</button>
        </div>
      </mat-card>
    </form>
  </div>

  <div fxLayoutAlign="flex-end end" style="padding: 20px">
    <label class="mat-body" [innerHTML]="'BACKLINK_TEXT' | translate"></label>
  </div>
</div>
-->