<StackLayout>
  <Label text="cname works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<app-toolbar></app-toolbar>
<div fxLayout="column" fxLayoutGap="15px" class="pad10">
  <app-title-bar title="{{'DOMAIN_SETTINGS' | translate }}"></app-title-bar>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxLayout="column" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" style="overflow: auto;" >
      <!-- step 1 header ->
      <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center" fxFlex="50px">
        <span class="custom-stepper-number-icon-outline" color="primary" fxLayoutAlign="center center">1</span>
        <label class="mat-h3 no-margin-bottom">{{'ADD_CNAME'| translate}}</label>
      </div>
      <!-- step 1 content ->
      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
        <div></div>
        <p [innerHTML]="'ADD_CNAME_DESCRIPTION' | translate"></p>
      </div>
      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
        <div></div>
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <a href="https://www.godaddy.com/help/add-a-cname-record-19236" target="_blank" fxFlex>GoDaddy.com</a>
          <a href="https://www.domain.com/help/article/dns-management-how-to-update-cname-aliases"
              target="_blank" fxFlex>Domain.com</a>
          <a href="https://www.namecheap.com/support/knowledgebase/article.aspx/9646/2237/how-to-create-a-cname-record-for-your-domain"
              target="_blank" fxFlex>Namecheap.com</a>
          <a href="https://my.bluehost.com/cgi/help/cname" target="_blank" fxFlex>Bluehost.com</a>
          <a href="https://support.hostgator.com/articles/how-to-change-dns-zones-mx-cname-and-a-records"
              target="_blank" fxFlex>Hostgator.com</a>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxFlex="50">
    <mat-card fxLayout="column" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100"  style="overflow: auto;">
      <form [formGroup]="cnameFormGroup" (ngSubmit)="saveCNAME()" fxLayout="column">
        <!-- step 2 header ->
        <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center" fxFlex="50px">
          <span class="custom-stepper-number-icon-outline" color="primary" fxLayoutAlign="center center">2</span>
          <label class="mat-h3 no-margin-bottom">{{'SAVE_CNAME'| translate}}</label>
        </div>
        <!-- step 2 content ->
        <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
          <div></div>
          <p [innerHTML]="'SAVE_CNAME_DESCRIPTION' | translate:param"></p>
        </div>
        <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
          <div></div>
          <mat-form-field fxFlex>
            <input matInput placeholder="{{'ENTER_CNAME_VALUE' | translate}}" formControlName="cname"
                required>
            <mat-hint *ngIf="showLoader">{{'CNAME_SAVE_TIME' | translate}}</mat-hint>
            <mat-error [innerHTML]="'FIELD_REQUIRED' | translate:errors.cname"></mat-error>
          </mat-form-field>
          <div fxLayoutGap="10px">
            <button mat-raised-button type="submit" color="primary" *ngIf="!showLoader">{{'SAVE' | translate}}</button>
            <button mat-raised-button color="warn" *ngIf="!showLoader" type="button" [disabled]="isDisabled"
                (click)="deleteCNAME()">{{'DELETE' | translate}}</button>
          </div>
          <div fxLayoutAlign="center center" *ngIf="showLoader">
            <mat-spinner [diameter]="30"></mat-spinner>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
-->