<app-toolbar [templateRef]="customTemplateRef"></app-toolbar>
<ng-template #customTemplateRef>
	<div fxLayoutAlign="flex-end center" fxLayoutGap="10px">
		<button mat-raised-button color="default" *ngIf="roleName == 'SystemAdmin'" [routerLink]="['','guide', 'arrange']">
			{{ 'ARRANGE_CONTENT' | translate }}
		</button>
		<button mat-raised-button color="default" *ngIf="roleName == 'SystemAdmin' || roleName == 'Agent'"
			[routerLink]="['','guide', 'articles', 'manage']">
			{{ 'MANAGE_ARTICLES' | translate }}
		</button>
		<button mat-raised-button color="primary" [matMenuTriggerFor]="appMenu" *ngIf="roleName == 'SystemAdmin' || roleName == 'Agent'">
			{{ 'NEW' | translate }}
		</button>
	</div>
	<mat-menu #appMenu="matMenu">
		<button mat-menu-item (click)="new('category')" *ngIf="roleName == 'SystemAdmin'">
			{{ 'CATEGORY' | translate }}
		</button>
		<button mat-menu-item (click)="new('section')" *ngIf="roleName == 'SystemAdmin'">
			{{ 'SECTION' | translate }}
		</button>
		<button mat-menu-item (click)="new('article')">
			{{ 'ARTICLE' | translate }}
		</button>
	</mat-menu>
</ng-template>
<div fxLayout="column" fxLayoutGap="60px" style="height: calc(100vh - 55px)">
	<div class="custom-theme-offset-background-Color" style="padding: 80px 0;">
		<div fxLayoutAlign="center">
			<h1 class="mat-display-2 custom-theme-primary-font-color">
				{{ 'KNOWLEDGE_BASE' | translate }}
			</h1>
		</div>
		<div fxLayoutAlign="center">
			<mat-error class="mat-body">{{ errorMessage }}</mat-error>
		</div>
		<form [formGroup]="searchCategoriesForm" fxLayoutAlign="center center" (keyup.enter)="searchArticle()">
			<mat-form-field class="mat-form-field--guide-search" fxFlex="40" appearance="outline">
				<input matInput placeholder="{{ 'SEARCH' | translate }}" formControlName="SEARCH" />
				<span matPrefix>
					<mat-icon>search</mat-icon>
				</span>
				<mat-icon class="pointer" *ngIf="searchCategoriesForm.get('SEARCH').value" (click)="searchCategoriesForm.get('SEARCH').setValue('')"
					matSuffix>close</mat-icon>
			</mat-form-field>
		</form>
	</div>
	<div fxLayout="row" fxLayoutAlign="center" fxFlex>
		<div fxLayout="column" fxFlex="60">
			<div [ngStyle]="{ 'margin-right': '10px' }" *ngIf="!isLoading && !showArticles">
				<div *ngIf="categories.length > 0" fxLayout="row wrap" fxLayout.sm="column wrap" fxLayout.xs="column wrap"
					[ngStyle]="{ 'margin-bottom': '10px' }">
					<button mat-stroked-button style="white-space: pre-wrap;min-height: 65px;" color="primary" fxFlex="calc(30%-25px)"
						*ngFor="let category of filteredCategories" (click)="redirect(category, 'Categories')" [ngStyle]="{
			  margin: '0 0 10px 10px',
              'border-color': 'var(--primaryColor)'
            }" [appHighlight]="{ BACKGROUND: 'var(--primaryColor)', TEXT: '#ffff' }">
						<h3 class="mat-h3" [ngStyle]="{ 'margin-bottom': '0px' }">
							{{ category.NAME }}
						</h3>
					</button>
				</div>
				<div *ngIf="categories.length === 0 && authToken" fxLayout="row" fxLayoutAlign="center">
					<button mat-raised-button color="primary" fxFlex="calc(30%-25px)" [ngStyle]="{ margin: '0 0 10px 10px', height: '80px' }"
						(click)="new('category')">
						{{ 'ADD_CATEGORY' | translate }}
					</button>
				</div>
				<div *ngIf="
            ((categories.length === 0 || filteredCategories.length === 0) &&
              !authToken) ||
            (filteredCategories.length === 0 &&
              categories.length > 0 &&
              authToken)
          " fxLayout="row" fxLayoutAlign="center">
					<label class="mat-h2">{{ 'NO_CATEGORIES_FOUND' | translate }}</label>
				</div>
				<!-- <div style="margin-top: 30px">
          <mat-divider></mat-divider>
        </div> -->
			</div>
			<div *ngIf="!isLoading && showArticles">
				<label class="mat-h1">{{ 'SEARCH_RESULTS' | translate }}</label><br />
				<label class="mat-small">{{ filteredArticles.length }} result<span *ngIf="filteredArticles.length > 1">s</span>
					for "{{ searchString }}"</label><br /><br /><br />
				<label class="mat-title">{{ 'KNOWLEDGE_BASE' | translate }}</label>
				<mat-divider> </mat-divider><br />
				<label class="mat-body" *ngIf="filteredArticles.length == 0">{{ 'NO_RESULTS_FOR' | translate }}
					"{{ searchString }}"</label>
				<div *ngFor="let article of filteredArticles">
					<a style="color: #3f51b5;" class="link mat-h3 pointer" (click)="redirect(article, 'Articles')">{{ article.TITLE }}</a>
					<div class="mat-body" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
						{{ article.BODY }}
					</div>
					<br />
					<mat-divider></mat-divider><br />
				</div>
			</div>
			<div *ngIf="isLoading" fxLayoutAlign="center">
				<mat-spinner></mat-spinner>
			</div>
		</div>
	</div>

	<div *ngIf="!authToken" fxLayoutAlign="flex-end end" style="padding: 20px">
		<label class="mat-body" [innerHTML]="'BACKLINK_TEXT' | translate"></label>
	</div>
</div>
