<div class="mat-body pad10" style="width: 40vw">
	<div fxLayoutAlign="space-between center">
		<div class="mat-h1" mat-dialog-actions fxLayoutAlign="left" [ngStyle]="{'margin-bottom':'10px'}">
			{{'MERGE_ENTRIES' | translate}}
		</div>
		<div fxLayoutGap="10px" [ngStyle]="{'margin-bottom':'15px'}">
			<button mat-raised-button (click)="cancel.emit()">{{'CANCEL' | translate}}</button>
			<button mat-raised-button [disabled]="!mergeSave" color="primary" (click)="onMergeEntries()">{{'SAVE' | translate}}</button>
		</div>
	</div>

	<div fxLayout="column" fxLayoutGap="10px">
		<div class="mat-h3">
			{{'MERGE_BELOW_MODULE_SELECTED' | translate: params.moduleName}}
		</div>
		<mat-card *ngIf="mergeData" style="background: #eeeeee; margin: 1px; border: 1px solid #bdbdbd">
			<div fxLayout="column" fxFlex>
				<div *ngFor="let item of fieldMap" style="padding: 2px">
					<span style="font-weight: 500; font-size: 16px;">{{item[1]}}</span>
					<span *ngIf="validateDate(mergeData[item[0]])">:
						{{mergeData[item[0]] | dateFormat:'medium'}}
					</span>
					<span *ngIf="!validateDate(mergeData[item[0]])">:
						{{mergeData[item[0]]}}
					</span>
				</div>
			</div>
		</mat-card>
		<!-- Search bar for merge Entries -->
		<!-- <div fxLayout="column" fxLayoutGap="10px" fxFlex>
			<div class="mat-h2">{{'SEARCH_ENTRIES_TO_MERGE' | translate}}</div>
			<app-search-bar fxFlex="1 1 auto" [moduleId]="moduleId" (searchFieldsEvent)="mergeSearch($event)"></app-search-bar>
		</div> -->
		<!-- mat card of mergeSearchData for searched entries -->
		<div class="scroll" *ngIf="mergeSearchData" style="height: 45vh; overflow: auto;">
			<div *ngFor="let data of mergeSearchData" style="width: 40vw" (click)="mergeChanged(data)">
				<mat-card fxLayout="row" class="pointer" style=" margin: 1px; border: 1px solid #bdbdbd">
					<div fxLayoutAlign="center center" style="margin-right: 4px;">
						<mat-checkbox [checked]="data.merge" (click)="$event.stopPropagation()" (change)="mergeChanged(data)">
						</mat-checkbox>
					</div>
					<div fxLayout="column" fxFlex>
						<div *ngFor="let item of fieldMap" style="padding: 2px">
							<span style="font-weight: 500; font-size: 16px;">{{item[1]}}</span>
							<span *ngIf="validateDate(mergeData[item[0]])"> :
								{{data[item[0]] | dateFormat:'medium'}}
							</span>
							<span *ngIf="!validateDate(mergeData[item[0]])"> :
								{{data[item[0]]}}
							</span>
						</div>
					</div>
				</mat-card>
			</div>
		</div>
	</div>
</div>