<div fxLayout="column" style="height: 100vh;background: linear-gradient(var(--primaryColor),var(--blendColor))">
	<div style="height:95vh" fxLayoutGap="20px">
		<div fxLayout="row" fxLayoutAlign="center center">
			<div fxFlex="40" fxLayoutAlign="center center" style="margin-top:100px;">
				<mat-card fxLayout="column" fxLayoutGap="20px" style="border-radius: 15px;min-width: 600px;padding: 20px;">
					<div fxLayout=" row" fxLayoutAlign="center">
						<!-- TODO: will need to add typography to this, login, signup, etc -->
						<h1 color="primary" class="mat-h1">{{'FORGOT_PASSWORD' | translate}}</h1>
					</div>
					<div fxLayout="row" fxLayoutAlign="center">
						<form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()" fxFlex="100" fxFlex.lt-md="450px">

							<div fxLayoutAlign="center">
								<mat-error class="mat-h3" fxLayoutAlign="center" *ngIf="errorMessage != ''">{{errorMessage}}</mat-error>
							</div>
							<div fxLayout="column" fxFlex fxLayoutGap="10px" *ngIf="!forgotPasswordSubmitted">
								<mat-form-field class="field-no-bottom-padding" appearance="outline" floatLabel="always">
									<mat-label>{{'EMAIL_ADDRESS' | translate}}</mat-label>
									<input matInput type="text" name="forgot-password-email" formControlName="EMAIL_ADDRESS">
									<mat-error style="margin-top: 10px;"
										*ngIf="forgotPasswordForm.controls.EMAIL_ADDRESS.hasError('email') && !forgotPasswordForm.controls.EMAIL_ADDRESS.hasError('required')">
										{{'PLEASE_ENTER_VALID_EMAIL_ADDRESS' | translate}}
									</mat-error>
									<mat-error style="margin-top: 10px;" *ngIf="forgotPasswordForm.controls.EMAIL_ADDRESS.hasError('required')"
										[innerHTML]="'FIELD_REQUIRED' | translate: { field: translateService.instant('EMAIL_ADDRESS') }">
									</mat-error>
								</mat-form-field>
								<div id="ngdesk_gcaptcah" fxLayoutAlign="center"></div>
								<span class="mat-h3" fxLayoutAlign="center" *ngIf="captchaError">{{'PLEASE_CONFIRM_HUMANITY' | translate}}.</span>
								<button mat-raised-button color="primary" type="submit">{{'SUBMIT' | translate}}</button>
							</div>
							<div fxLayout="column" fxLayoutGap="10px" fxFlex *ngIf="forgotPasswordSubmitted">
								<label class="mat-h3" fxLayoutAlign="center">{{'IF_ACCOUNT_EXIST' | translate}}.</label>
								<label class="mat-h3" fxLayoutAlign="center">{{'IF_YOU_DONT_RECEIVE_EMAIL' | translate}}</label>
								<button mat-raised-button color="primary" (click)="goToLogin()">{{'BACK_TO_LOGIN' | translate}}</button>
							</div>
						</form>
					</div>
				</mat-card>
			</div>
		</div>
	</div>
	<div fxLayoutAlign="flex-end end" style="padding: 20px">
		<label style="color: white;" class=" mat-body"><a style="color: white;" href="https://www.ngdesk.com" target="_blank">Powered by
				ngDesk</a> &#169;</label>
	</div>
</div>
