<app-toolbar [templateRef]="headerTemplateRef"></app-toolbar>
<div fxLayout="column" fxLayoutGap="10px" class="pad10">
	<ng-template #headerTemplateRef>
		<app-title-bar title="{{'CHAT_WIDGETS' | translate}}"></app-title-bar>
	</ng-template>
	<div fxLayout="row" id="chat-widgets-table" #chatWidgetsTable [ngClass]="{'z9999': fpos.hostElement === 'chat-widgets-table'}">
		<div fxFlex>
			<app-custom-table [templateRef]="columnTemplateRef" (rowClickedEvent)="rowClicked($event)" noRecordsMessage="No chats found"
				(pageChangeEmit)="pageChangeEmit($event);customTableService.isLoading = true"
				(sortData)="sortData();customTableService.isLoading = true">
				<ng-template #columnTemplateRef let-element="element" let-col="col">
					{{element[col.NAME]}}
				</ng-template>
			</app-custom-table>
		</div>
	</div>
</div>
