<app-toolbar [templateRef]="headerTemplateRef"></app-toolbar>
<div fxLayout="column" fxLayoutGap="20px" class="pad10">
	<ng-template #headerTemplateRef>
		<app-title-bar class="light-grey-color" [title]="'CHAT_SETTINGS' | translate" [buttonText]="'SAVE' | translate"
			(buttonRightOnClick)="saveGeneralSettings()" [buttonColor]="'primary'"></app-title-bar>
	</ng-template>
	<div fxLayout="row" fxLayoutAlign="center">
		<mat-card fxLayout="column" fxFlex="100" style="overflow: auto;">
			<div fxLayout="row" fxLayoutAlign="start center">
				<div fxFlex fxLayoutAlign="flex-start center">
					<label class="mat-h3" [ngStyle]="{'margin-bottom':'0px'}">{{'MAX_CHATS_PER_AGENT' |
						translate}}</label>
				</div>
				<div fxFlex fxLayoutAlign="flex-start center">
					<mat-form-field fxFlex=40>
						<mat-select [(ngModel)]="maxChatsPerAgent">
							<mat-option *ngFor="let maxChatOption of maxChatOptions" [value]="maxChatOption">
								{{maxChatOption}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="row" fxLayoutAlign="start center">
				<div fxFlex fxLayoutAlign="flex-start center">
					<label class="mat-h3" [ngStyle]="{'margin-bottom':'0px'}">{{'TEAMS_WHO_CAN_CHAT' |
						translate}}</label>
				</div>
				<div fxFlex fxLayoutAlign="flex-start center">
					<mat-form-field style="width: 40%;">
						<mat-chip-list #teams_who_can_chat_ChipList>
							<mat-chip *ngFor="let selectedTeam of selectedTeams; let selectedTeamIndex = index"
								[selectable]='true' [removable]=true (removed)="removeTeam(selectedTeamIndex)">
								<span>{{selectedTeam.name}}</span>
								<mat-icon matChipRemove>cancel</mat-icon>
							</mat-chip>
							<input matInput [matAutocomplete]="teams_auto" placeholder="Teams"
								[matChipInputFor]="teams_who_can_chat_ChipList" [(ngModel)]="tempTeamInput"
								[matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="resetInput($event)"
								(ngModelChange)="searchTeam()">
						</mat-chip-list>
						<mat-autocomplete (appAutocompleteScroll)="onTeamsScroll()" #teams_auto="matAutocomplete"
							(optionSelected)="addTeam($event);">
							<mat-option *ngFor="let team of teams" [value]="team" [disabled]="disableSelectedTeams(team.id)">
								<span>{{team.name}}</span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="row" fxLayoutAlign="start center">
				<div fxFlex fxLayoutAlign="flex-start center">
					<label class="mat-h3" [ngStyle]="{'margin-bottom':'0px'}">{{'TIMEZONE' |
						translate}}</label>
				</div>
				<div fxFlex fxLayoutAlign="flex-start center">
					<mat-form-field style="width: 40%;">
						<mat-select [(ngModel)]="timezone">
							<mat-option *ngFor="let zone of timezones" [value]="zone">
								{{zone}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="column" fxLayoutAlign="start start">
				<div fxFlex fxLayoutGap="10px" fxLayoutAlign="flex-start center">
					<mat-checkbox color="primary" [(ngModel)]="hasRestrictions"
						(ngModelChange)="toggleRestrictions($event,true)"> {{
						'BUSINESS_HOURS' | translate}}</mat-checkbox>
					<label class="mat-body-strong pointer" (click)="toggleRestrictions($event,true)"
						*ngIf="hasRestrictions">Edit</label>
					<mat-icon class="light-grey-color" style="transform: scale(0.9);"
						matTooltip="{{'RESTRICT_TO_BUSINESS_HOURS' | translate}}">
						help_outline</mat-icon>
				</div>
				<div fxLayout="row" *ngFor="let restriction of chatBusinessRules['CHAT_RESTRICTIONS']"
					style="margin-left:24px" fxLayoutGap="5px" class="mat-body">
					<label>From</label>
					<label *ngIf="chatBusinessRules['RESTRICTION_TYPE'] == 'Week'">{{restriction.START_DAY}}</label>
					<label>{{restriction.START_TIME}}</label>
					<label>to</label>
					<label *ngIf="chatBusinessRules['RESTRICTION_TYPE'] == 'Week'">{{restriction.END_DAY}}</label>
					<label>{{restriction.END_TIME}}</label>
				</div>
			</div>
		</mat-card>
	</div>
</div>