<div style="padding:10px">
	<div fxLayoutAlign="center">
		<mat-error *ngIf="errorMessage" style="padding-bottom: 10px;">{{errorMessage}}</mat-error>
	</div>
	<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px" style="padding: 10px">
		<div fxLayout="row" fxLayoutAlign="start flex-end" fxLayoutGap="30px">
			<label class="mat-h3" style="padding-left: 20px">Old Password</label>
			<mat-form-field>
				<input type="password" matInput placeholder="{{'ENTER_OLD_PASSWORD' | translate}}" [(ngModel)]="oldPassword">
			</mat-form-field>
		</div>
		<div fxLayout="row" fxLayoutAlign="start flex-end" fxLayoutGap="30px">
			<label class="mat-h3" style="padding-left: 20px">New Password</label>
			<mat-form-field>
				<input type="password" matInput placeholder="{{'ENTER_NEW_PASSWORD' | translate}}" [(ngModel)]="newPassword">
			</mat-form-field>
		</div>
		<div fxLayout="row" fxLayoutAlign="start flex-end" fxLayoutGap="30px">
			<label class="mat-h3">Confirm Password</label>
			<mat-form-field>
				<input type="password" matInput placeholder="{{'RE_ENTER_NEW_PASSWORD' | translate}}" [(ngModel)]="confirmPassword">
			</mat-form-field>
		</div>
	</div>
	<div fxLayoutAlign="end center" fxLayoutGap="5px">
		<button mat-raised-button color="primary" (click)="savePassword()">
			{{'SAVE' | translate}}
		</button>
		<button mat-raised-button color="secondary" [mat-dialog-close] (click)="this.loaderService.isLoading2 = false">
			{{'CANCEL' | translate}}
		</button>
	</div>
</div>
