<div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px" style="padding-top: 24px;">
	<div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
		<h2 style="margin: 0px;" class="mat-h2">{{moduleName}} Entries</h2>
		<div fxLayout="row" fxLayoutAlign="end end" style="width: 50%;" fxLayoutGap="15px">
			<button mat-raised-button (click)="close('cancel')" color="primary">Cancel</button>
			<button mat-raised-button (click)="close('done')" color="primary">Done</button>
		</div>
	</div>
	<app-search-bar fxFlex="1 1 auto" style="width: 100%;" [moduleId]="moduleId" (searchFieldsEvent)="searchValuesChange($event)">
	</app-search-bar>
	<div fxFlex=85 style="height:90%;width: 100%;">
		<app-custom-table id="layout-table" fxFlex [templateRef]="columnTemplateRef" noRecordsMessage="No {{recordName}} found"
			(pageChangeEmit)="onPageChange($event);customTableService.isLoading = true"
			(sortData)="onPageChange($event);customTableService.isLoading = true" style="height:100%;width: 100%;">
			<ng-template #columnTemplateRef let-element="element" let-col="col">
				<span *ngIf="col.DATA_TYPE === 'Date/Time'">{{element[col.NAME] | dateFormat: 'medium'}}</span>
				<span *ngIf="col.DATA_TYPE === 'Relationship' && element[col.NAME] !== undefined && element[col.NAME] !== null">{{element[col.NAME].PRIMARY_DISPLAY_FIELD}}</span>
				<span *ngIf="col.DATA_TYPE ==='Button'"><button mat-raised-button color="primary"
						(click)="customButtonClick(col, element)">{{col.DISPLAY}}</button></span>
				<span *ngIf="col.DATA_TYPE === 'Date'">{{element[col.NAME] | dateFormat: 'mediumDate'}}</span>
				<span *ngIf="col.DATA_TYPE === 'Time'">{{element[col.NAME] | dateFormat: 'h:mm a'}}</span>
				<span *ngIf="col.DATA_TYPE === 'Number'">{{element[col.NAME] | localNumber}}</span>
				<span *ngIf="col.DATA_TYPE === 'Phone'">{{element[col.NAME].DIAL_CODE}} {{element[col.NAME].PHONE_NUMBER}}</span>
				<span
					*ngIf="col.DATA_TYPE !== 'Phone' && col.DATA_TYPE !== 'Button' && col.DATA_TYPE !== 'Date/Time' && col.DATA_TYPE !== 'Relationship' && col.DATA_TYPE !== 'Date' && 
					col.DATA_TYPE !== 'Time'&& col.DATA_TYPE !== 'Number' && col.DATA_TYPE !=='Text' && col.DATA_TYPE !=='Text Area'">{{element[col.NAME]}}</span>
				<span *ngIf="col.DATA_TYPE =='Text' || col.DATA_TYPE =='Text Area'">
					<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width:70%;overflow: hidden;">
						{{element[col.NAME]}}
					</div>
				</span>
			</ng-template>
		</app-custom-table>
	</div>
</div>
