<app-toolbar [templateRef]="headerTemplateRef"></app-toolbar>
<ng-template #headerTemplateRef>
	<app-title-bar class="light-grey-color" title="{{'CSV_LOGS' | translate}}">
	</app-title-bar>
</ng-template>
<div fxLayoutAlign="center" style="padding: 20px;">
	<div fxlayout="column" class="mat-elevation-z2" fxFlex="70" style="padding-top: 20px;border-radius: 4px">
		<div fxLayout="row" fxLayoutAlign="center">
			<mat-label class="mat-h2">{{fileName}}</mat-label>
		</div>
		<div class="mat-h3" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="50px">
			<button mat-raised-button>
				Lines completed : {{completedCount ? completedCount: 0}}
			</button>
			<button mat-raised-button (click)="displayLogTable()">
				Lines Failed : {{failedCount ? failedCount: 0}}
			</button>
		</div>

		<div *ngIf="logTable" fxLayout="column" fxLayoutGap="10px" class="pad10">
			<div fxLayout="row">
				<div fxFlex>
					<app-custom-table [templateRef]="columnTemplateRef" noRecordsMessage="{{'NO_LOGS_FOUND' | translate}}"
						(pageChangeEmit)="pageChangeEmit($event);customTableService.isLoading = true">
						<ng-template #columnTemplateRef let-element="element" let-col="col">
							{{element[col.NAME]}}
						</ng-template>
					</app-custom-table>
				</div>
			</div>
		</div>
	</div>
</div>
