<StackLayout>
  <Label text="reset-password works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<!DOCTYPE html>
<div fxLayout="column" style="min-height:100vh">
  <div fxLayoutAlign="center" class="mat-h1" color="primary" style="margin-top:50px">{{ title | translate }}</div>
  <div fxLayoutAlign="center">
    <form fxFlex="50" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <mat-card fxLayout="column">
        <mat-error class="mat-small"> {{ errorMessage }}</mat-error>
        <mat-form-field fxFlex>
          <input matInput placeholder="{{'PASSWORD'  | translate}}" formControlName="password"
            [type]="hidePassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="resetPasswordForm.controls.password.hasError('required')">
            {{'PLEASE_ENTER_YOUR_NEW_PASSWORD' | translate}}
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.controls.password.hasError('minlength') &&
            !resetPasswordForm.controls.password.hasError('required')">
            {{'PASSWORD_SHOULD_MINIMUM_8_CHARACTERS' | translate}}
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.controls.password.hasError('numberReq') &&
            !resetPasswordForm.controls.password.hasError('required')">
            {{'PASSWORD_MISSING_REQUIREMENT' | translate: { requirement: translateService.instant('NUMBER') } }}
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.controls.password.hasError('uppercaseReq') &&
            !resetPasswordForm.controls.password.hasError('required')">
            {{'PASSWORD_MISSING_REQUIREMENT' | translate: { requirement: translateService.instant('CAPITAL_LETTER') } }}
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.controls.password.hasError('specialCharReq') &&
            !resetPasswordForm.controls.password.hasError('required')">
            {{'PASSWORD_MISSING_REQUIREMENT' | translate: { requirement: translateService.instant('SPECIAL_CHARACTER') } }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="{{'CONFIRM_PASSWORD' | translate}}" formControlName="confirmPassword"
            [type]="hidePassword ? 'password' : 'text'" [errorStateMatcher]="matcher">
          <mat-error *ngIf="resetPasswordForm.hasError('notSame')">
            {{'PASSWORD_DO_NOT_MATCH' | translate}}
          </mat-error>
        </mat-form-field>
        <div fxLayout="column" fxLayoutAlign="center">
          <button mat-raised-button color="primary" type="submit">{{'SUBMIT' | translate}}</button>
        </div>
      </mat-card>
    </form>
  </div>
  <div fxFlex></div>
  <div fxLayoutAlign="flex-end end" style="padding: 20px">
    <label class="mat-body" [innerHTML]="'BACKLINK_TEXT' | translate"></label>
  </div>
</div>
-->