<StackLayout>
  <Label text="role-create works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<app-toolbar [templateRef]="headerTemplateRef"></app-toolbar>
<div class="pad10">
	<ng-template #headerTemplateRef>
		<app-title-bar title="{{'CUSTOM_ROLE' | translate}}">
		</app-title-bar>
	</ng-template>
	<form [formGroup]="roleForm" (ngSubmit)="saveRole()">
		<app-new-name-description buttonText="{{'SAVE' | translate}}" (modelChange)="saveRole()"></app-new-name-description>
	</form>
</div>
<mat-divider></mat-divider>
<div fxLayout="column" fxLayoutGap="20px" class="pad10">
	<app-custom-table *ngIf="!isSystemAdmin" [templateRef]="columnTemplateRef" fxFlex fxLayoutGap="20px" noRecordsMessage="No record found">
		<ng-template #columnTemplateRef let-element="element" let-col="col">
			<span *ngIf="col.NAME === 'MODULE_NAME'">
				{{element[col.NAME]}}
			</span>
			<span *ngIf="col.NAME != 'MODULE_NAME'">
				<mat-select *ngIf="col.NAME != 'Modules'" placeholder="Permission" [(ngModel)]="element[col.NAME]" style="width:75px">
					<ng-container *ngIf="col.NAME === 'ACCESS'">
						<mat-option *ngFor="let option of accessOptions" [value]="option">
							{{option}}
						</mat-option>
					</ng-container>
					<ng-container *ngIf="col.NAME === 'ACCESS_TYPE'">
						<mat-option *ngFor="let option of accessTypeOptions" [value]="option">
							{{option}}
						</mat-option>
					</ng-container>
					<ng-container *ngIf="col.NAME != 'ACCESS' && col.NAME != 'ACCESS_TYPE' ">
						<mat-option *ngFor="let option of modifyOptions" [value]="option">
							{{option}}
						</mat-option>
					</ng-container>
				</mat-select>
			</span>
		</ng-template>
	</app-custom-table>
</div>

-->