<app-toolbar [templateRef]="headerTemplateRef"></app-toolbar>
<ng-template #headerTemplateRef>
	<app-title-bar [title]="'FIELD_DETAIL' | translate" buttonText="{{'UPDATE' | translate}}" (buttonRightOnClick)="update()">
	</app-title-bar>
</ng-template>
<div fxLayout="column" fxLayoutGap="30px" class="pad10" *ngIf="fieldForm">
	<div fxLayout="row" fxLayoutAlign="center">
		<mat-card fxFlex="70">
			<div fxLayout="column" fxLayoutAlign="center center" *ngIf='errorMessage != undefined || successMessage != undefined'>
				<mat-error class="mat-body">{{errorMessage}}</mat-error>
				<label class="green-color mat-body">{{successMessage}}</label>
			</div>
			<form [formGroup]="fieldForm" (ngSubmit)="update()">
				<div fxLayout="row" fxLayoutAlign="center">
					<div style="padding-left: 45%;" fxFlex fxLayoutAlign="space-between center">
						<mat-label class="mat-h2 light-grey-color">{{fieldForm.get('DISPLAY_LABEL').value | translate}}
						</mat-label>
						<div *ngIf="fieldForm.get('DATA_TYPE').value['DISPLAY'] === 'Relationship'"><span class="mat-icon-button"
								(click)="openSettings()">
								<mat-icon matTooltip="{{'DATA_FILTER_CONDITIONS' | translate}}">settings</mat-icon>
							</span>
						</div>
					</div>
				</div>
				<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="20px">
					<mat-form-field fxFlex>
						<input matInput placeholder="Display label" formControlName="DISPLAY_LABEL" required>
						<mat-error>{{'REQUIRED_FIELD' | translate}}</mat-error>
					</mat-form-field>
					<mat-form-field fxFlex>
						<div matTooltip="{{'SYSTEM_LABEL_MODIFY' | translate}}">
							<input matInput placeholder="System label" formControlName="NAME" (blur)="overrideSysLabel = false" required>
							<mat-error *ngIf="fieldForm.controls.NAME.errors?.required">
								{{'REQUIRED_FIELD' | translate}}</mat-error>
							<mat-error *ngIf="fieldForm.controls.NAME.errors?.pattern">
								{{'SPACE_SPECIAL_CHARACTERS_NOT_ALLOWED' | translate}}</mat-error>
						</div>
					</mat-form-field>
					<mat-form-field fxFlex>
						<mat-select matTooltip="{{'DATA_TYPE_MODIFY' | translate}}" placeholder="Data type" formControlName="DATA_TYPE" name="dataType"
							disabled required>
							<mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType">
								{{fieldType.DISPLAY}}
							</mat-option>
						</mat-select>
						<mat-error>{{'REQUIRED_FIELD' | translate}}</mat-error>
					</mat-form-field>
				</div>

				<ng-container [ngSwitch]="fieldForm.get('DATA_TYPE').value['DISPLAY']">

					<!--CHECKBOX-->

					<div fxLayout="column" *ngSwitchCase="'Checkbox'" fxLayoutGap="20px">
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<mat-form-field fxFlex>
								<mat-select placeholder="{{'DEFAULT_VALUE' | translate}}" tabindex="2" formControlName="DEFAULT_VALUE">
									<mat-option [value]="'true'">
										Checked
									</mat-option>
									<mat-option [value]="'false'">
										Unchecked
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<div fxLayout="row" fxLayoutGap="5px" fxFlex>
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
							<mat-checkbox [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED" fxFlex>
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
							<mat-checkbox [disabled]="true" [labelPosition]="'after'" formControlName="NOT_EDITABLE" fxFlex>
								{{'NOT_EDITABLE' | translate}}
							</mat-checkbox>
							<div fxLayout="row" fxLayoutGap="5px" fxflex>
								<mat-checkbox [checked]="showFieldMapping" [labelPosition]="'after'" (change)="enableFieldMapping($event.checked)">
									{{'ENABLE_FIELD_MAPPING' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'FIELD_MAPPING_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
						</div>
						<div *ngIf="showFieldMapping">
							<div fxLayout="row" fxLayoutAlign="center center">
								<h1 style="margin: 0px;" mat-dialog-title class="mat-h1">{{'FIELD_MAPPING' | translate}}
								</h1>
								<button mat-icon-button (click)="addFieldMappingOption()" type="button">
									<mat-icon>add_circle</mat-icon>
								</button>
							</div>
							<form [formGroup]="fieldMappingFormGroup">
								<div style="max-height: 200px;margin-top: 10px;" fxFlex>
									<div formArrayName="fieldMapping" fxLayoutAlign="center center"
										*ngFor=" let fieldMapping of fieldMappingFormData.controls; let i = index">
										<div [formGroupName]="i" style="height: 65px" fxLayoutAlign="space-between" fxFlex fxLayoutGap="20px" fxFlex
											fxLayout="row">
											<mat-form-field fxFlex="50" appearance="outline">
												<mat-label>Field from {{parentModuleNameForFieldMapping}} module
												</mat-label>
												<mat-select [value]="fieldMapping.value.FIELD_FROM_PARENT_MODULE"
													(selectionChange)="filterChildModuleFieldsForFieldMapping(i,$event)" formControlName="FIELD_FROM_PARENT_MODULE">
													<mat-option *ngFor="let parentField of selectedParentFielsForFieldMapping" [value]="parentField.FIELD_ID">
														{{parentField.DISPLAY_LABEL}}
													</mat-option>
												</mat-select>
											</mat-form-field>
											<mat-form-field fxFlex="50" appearance="outline">
												<mat-label>Field from {{childModuleName}} module</mat-label>
												<mat-select [value]="fieldMapping.value.FIELD_FROM_CHILD_MODULE" formControlName="FIELD_FROM_CHILD_MODULE">
													<mat-option *ngFor="let childField of originalModuleFieldsMapping[i]" [value]="childField.FIELD_ID">
														{{childField.DISPLAY_LABEL}}
													</mat-option>
												</mat-select>
											</mat-form-field>
											<div fxLayoutAlign="center center">
												<button mat-icon-button (click)="removeFieldMappingOption(i)" type="button">
													<mat-icon>remove_circle</mat-icon>
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

					<!--AUTONUMBER-->
					<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="20px" *ngSwitchCase="'Auto Number'">
						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<mat-form-field>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<div fxLayout="row" fxLayoutAlign="start center">
								<mat-checkbox [labelPosition]="'after'" tabindex="5" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>

						</div>
						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<mat-form-field>
								<input type="number" matInput tabindex="2" placeholder="{{'STARTING_NUMBER' | translate}}"
									formControlName="AUTO_NUMBER_STARTING_NUMBER">
							</mat-form-field>
						</div>
					</div>

					<!--ZOOM-->
					<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="2%" *ngSwitchCase="'Zoom'">
						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<mat-form-field>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
						</div>
						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<mat-form-field>
								<input type="text" matInput tabindex="2" placeholder="{{'DEFAULT_VALUE' | translate}}" formControlName="DEFAULT_VALUE">
							</mat-form-field>
						</div>
					</div>

					<!--PASSWORD-->
					<div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'Password'">
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<mat-form-field fxFlex>
								<input autocomplete="off" type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}"
									formControlName="HELP_TEXT">
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayoutGap="20px">
							<div fxLayout="row" fxLayoutGap="5px" fxFlex>
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
							<mat-checkbox [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED" fxFlex>
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
						</div>
					</div>

					<!--DATE-->
					<div fxLayout="row" fxLayoutAlign="center center" *ngSwitchCase="'Date'" fxLayoutGap="20px">
						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<mat-form-field>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<div fxLayout="row" fxLayoutAlign="start center">
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>

						</div>
						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<mat-form-field>
								<input placeholder="{{ 'DEFAULT_VALUE' | translate}}" matInput [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
									formControlName="DEFAULT_VALUE" (keypress)="false">
								<owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
							</mat-form-field>
							<mat-checkbox [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED">
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
						</div>
					</div>

					<!--DATE/TIME-->
					<div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'Date/Time'">
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<mat-form-field fxFlex>
								<input matInput placeholder="{{ 'DEFAULT_VALUE' | translate}}" tabindex="2" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
									formControlName="DEFAULT_VALUE" (keypress)="false">
								<owl-date-time #dt></owl-date-time>
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<div fxLayout="row" fxLayoutGap="5px" fxFlex>
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
							<mat-checkbox fxLayoutAlign="center center" [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED" fxFlex>
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
							<mat-checkbox fxLayoutAlign="end center" [disabled]="true" [labelPosition]="'after'" formControlName="NOT_EDITABLE" fxFlex>
								{{'NOT_EDITABLE' | translate}}
							</mat-checkbox>
						</div>
					</div>

					<!--NUMBER-->
					<div fxLayout="column" *ngSwitchCase="'Number'" fxLayoutGap="20px">
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<mat-form-field fxFlex>
								<input type="text" matInput placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<mat-form-field fxFlex>
								<input matInput type="tel" placeholder="{{'DEFAULT_VALUE' | translate}}" formControlName="DEFAULT_VALUE">
							</mat-form-field>
							<mat-form-field fxFlex>
								<input tabindex="4" type="number" matInput placeholder="Maximum length" formControlName="LENGTH">
							</mat-form-field>
							<mat-form-field fxFlex>
								<mat-select placeholder="{{'NUMERIC_FORMAT' | translate}}" formControlName="NUMERIC_FORMAT">
									<mat-option *ngFor="let numericFormat of numericFormats" [value]="numericFormat">
										{{numericFormat}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'SUFFIX' | translate}}" formControlName="SUFFIX">
							</mat-form-field>
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'PREFIX' | translate}}" formControlName="PREFIX">
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
							<div fxLayout="row" fxLayoutGap="5px" fxFlex>
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
							<mat-checkbox fxLayoutAlign="center center" [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED">
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
							<mat-checkbox fxLayoutAlign="end center" [disabled]="true" [labelPosition]="'after'" formControlName="NOT_EDITABLE" fxFlex>
								{{'NOT_EDITABLE' | translate}}
							</mat-checkbox>
						</div>
					</div>

					<!--PICKLIST-->
					<div fxLayout="column" *ngSwitchCase="'Picklist'" fxLayoutGap="20px">
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<mat-form-field fxFlex="50">
								<input type="text" matInput placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<mat-form-field fxFlex="50">
								<input matInput type="tel" placeholder="{{'DEFAULT_VALUE' | translate}}" formControlName="DEFAULT_VALUE">
							</mat-form-field>
						</div>
						<div fxLayout="row">
							<mat-form-field fxFlex>
								<mat-chip-list #chipList>
									<mat-chip *ngFor="let value of fieldForm.get('PICKLIST_VALUES').controls; let i = index;" [selectable]="true"
										[removable]="true" (removed)="removeItem(i)">
										{{value.value}}
										<mat-icon matChipRemove>cancel</mat-icon>
									</mat-chip>
									<input placeholder="{{'ENTER_LIST_OPTIONS' | translate}}" [matChipInputFor]="chipList"
										[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
										(matChipInputTokenEnd)="addPicklistOption($event)">
								</mat-chip-list>
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
							<mat-checkbox fxFlex="50" [labelPosition]="'after'" formControlName="PICKLIST_DISPLAY_ALPHABETICALLY"
								(change)="optionAlphabetizeChange()">
								{{'DISPLAY_VALUES_ALPHABETICALLY' | translate}}
							</mat-checkbox>
							<mat-checkbox fxLayoutAlign="end center" fxFlex="50" [labelPosition]="'after'" formControlName="PICKLIST_USE_FIRST_VALUE"
								(change)="firstValueDefaultChange()">
								{{'USE_FIRST_VALUE_AS_DEFAULT' | translate}}
							</mat-checkbox>
						</div>
						<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
							<div fxLayout="row" fxLayoutGap="5px" fxFlex>
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
							<mat-checkbox fxLayoutAlign="center center" [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED">
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
							<mat-checkbox fxLayoutAlign="end center" [disabled]="true" [labelPosition]="'after'" formControlName="NOT_EDITABLE" fxFlex>
								{{'NOT_EDITABLE' | translate}}
							</mat-checkbox>
						</div>
					</div>

					<!--PICKLIST(MULTI-SELECT)-->
					<div fxLayout="column" *ngSwitchCase="'Picklist (Multi-Select)'" fxLayoutGap="20px">
						<div fxLayout="row" fxLayoutGap="20px">
							<mat-form-field fxFlex="50">
								<input type="text" matInput placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<mat-form-field fxFlex="50">
								<input matInput type="tel" placeholder="{{'DEFAULT_VALUE' | translate}}" formControlName="DEFAULT_VALUE">
							</mat-form-field>
						</div>
						<div fxLayout="row">
							<mat-form-field fxFlex>
								<mat-chip-list #chipList>
									<mat-chip *ngFor="let value of fieldForm.get('PICKLIST_VALUES').controls; let i = index;" [selectable]="true"
										[removable]="true" (removed)="removeItem(i)">
										{{value.value}}
										<mat-icon matChipRemove>cancel</mat-icon>
									</mat-chip>
									<input placeholder="{{'ENTER_LIST_OPTIONS' | translate}}" [matChipInputFor]="chipList"
										[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
										(matChipInputTokenEnd)="addPicklistOption($event)">
								</mat-chip-list>
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
							<mat-checkbox fxFlex="50" [labelPosition]="'after'" formControlName="PICKLIST_DISPLAY_ALPHABETICALLY">
								{{'DISPLAY_VALUES_ALPHABETICALLY' | translate}}
							</mat-checkbox>
							<mat-checkbox fxFlex="50" [labelPosition]="'after'" formControlName="PICKLIST_USE_FIRST_VALUE">
								{{'USE_FIRST_VALUE_AS_DEFAULT' | translate}}
							</mat-checkbox>
						</div>
						<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
							<div fxLayout="row" fxLayoutAlign="start center">
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>

							<mat-checkbox fxFlex="50" [labelPosition]="'after'" formControlName="REQUIRED">
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
						</div>
					</div>

					<!--RELATIONSHIP-->
					<div fxLayout="column" *ngSwitchCase="'Relationship'" fxLayoutGap="10px">
						<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
							<mat-form-field fxFlex *ngIf="fieldForm.get('RELATIONSHIP_TYPE').value === 'One to One' ||
								fieldForm.get('RELATIONSHIP_TYPE').value === 'Many to One' || fieldForm.get('RELATIONSHIP_TYPE').value === 'Many to Many'">
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<mat-form-field fxFlex>
								<mat-select matTooltip="{{'RELATED_MODULE_MODIFY' | translate}}" placeholder="{{'MODULE_REALATE_TO' | translate}}"
									formControlName="MODULE" disabled>
									<mat-option *ngFor="let module of modules" [value]="module.MODULE_ID">
										{{module.NAME}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<mat-form-field fxFlex>
								<mat-select matTooltip="{{'FIELDS_RELATED_MODULE_MODIFY' | translate}}"
									placeholder="Fields in {{relationshipModule.NAME}} module" formControlName="PRIMARY_DISPLAY_FIELD" [disabled]="true">
									<mat-option *ngFor="let field of selectedModuleFields" [value]="field.FIELD_ID">
										{{field.DISPLAY_LABEL}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div fxLayoutAlign="center" *ngIf="!fieldForm.get('INTERNAL').value">
							<mat-radio-group fxLayout="column" fxLayoutGap="10px" formControlName="RELATIONSHIP_TYPE" fxFlex>
								<mat-radio-button *ngFor="let relationship of relationshipTypes" [value]="relationship.TYPE">
									{{relationship.DISPLAY}}
								</mat-radio-button>
							</mat-radio-group>
							<div fxFlex></div>
						</div>
						<div></div>
						<div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="20px">
							<mat-checkbox [labelPosition]="'after'" formControlName="NOT_EDITABLE" [disabled]="fieldForm.get('INTERNAL').value" fxFlex>
								{{'NOT_EDITABLE' | translate}}
							</mat-checkbox>
							<mat-checkbox fxFlex="30" [labelPosition]="'after'" formControlName="REQUIRED" [disabled]="fieldForm.get('INTERNAL').value"
								*ngIf="fieldForm.get('RELATIONSHIP_TYPE').value != 'One to Many'" fxFlex>
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
							<mat-checkbox
								*ngIf="fieldForm.get('RELATIONSHIP_TYPE').value === 'One to One' || fieldForm.get('RELATIONSHIP_TYPE').value === 'Many to One'"
								[checked]="showInheritance" [labelPosition]="'after'" (change)="enableInheritance($event.checked)">
								{{'ENABLE_INHERITANCE' | translate}}
							</mat-checkbox>
						</div>
						<div
							*ngIf="showInheritance && (fieldForm.get('RELATIONSHIP_TYPE').value === 'One to One' || fieldForm.get('RELATIONSHIP_TYPE').value === 'Many to One')">
							<div style="margin-bottom: 0px;" fxLayoutAlign="center center">
								<label class="mat-h1" style="padding-top: 15px;">{{'INHERITANCE_MAPPING' |
									translate}}</label>
								<button mat-icon-button (click)="addInheritanceOption()" type="button">
									<mat-icon>add_circle</mat-icon>
								</button>
							</div>
							<form [formGroup]="inheritanceFormGroup">
								<div style="max-height: 200px;">
									<div formArrayName="inheritances" fxLayoutAlign="center center"
										*ngFor=" let inheritance of inheritanceFormData.controls; let i = index">
										<div [formGroupName]="i" style="height: 65px" fxLayoutAlign="space-between" fxFlex fxLayoutGap="20px" fxFlex
											fxLayout="row">
											<mat-form-field fxFlex="50" appearance="outline">
												<mat-label>Field from {{relationshipModule.NAME}} module</mat-label>
												<mat-select [value]="inheritance.value.FIELD_FROM_PARENT_MODULE"
													(selectionChange)="filterChildModuleFields(i,$event)" formControlName="FIELD_FROM_PARENT_MODULE">
													<mat-option *ngFor="let parentField of selectedModuleFields" [value]="parentField.FIELD_ID">
														{{parentField.DISPLAY_LABEL}}
													</mat-option>
												</mat-select>
											</mat-form-field>
											<mat-form-field fxFlex="50" appearance="outline">
												<mat-label>Field from {{childModuleName}} module</mat-label>
												<mat-select [value]="inheritance.value.FIELD_FROM_CHILD_MODULE" formControlName="FIELD_FROM_CHILD_MODULE">
													<mat-option *ngFor="let childField of originalModuleFields[i]" [value]="childField.FIELD_ID">
														{{childField.DISPLAY_LABEL}}
													</mat-option>
												</mat-select>
											</mat-form-field>
											<div fxLayoutAlign="center center">
												<button mat-icon-button (click)="removeInheritanceOption(i)" type="button">
													<mat-icon>remove_circle</mat-icon>
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

					<!-- AGGREGATE FIELD-->
					<div *ngSwitchCase="'Aggregate'" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
						<div fxLayout="row" fxLayoutGap="20px">
							<mat-form-field fxFlex>
								<mat-select (selectionChange)="getFieldsForModule()" placeholder="{{'FIELD_FOR_AGGREGATION' | translate}}"
									formControlName="AGGREGATION_FIELD">
									<mat-option *ngFor="let oneToManyField of oneToManyFields" [value]="oneToManyField.FIELD_ID">
										{{oneToManyField.DISPLAY_LABEL}}
									</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field fxFlex>
								<mat-select placeholder="{{'AGGREGATION_TYPE' | translate}}" formControlName="AGGREGATION_TYPE">
									<mat-option *ngFor="let type of aggregationType" [value]="type">
										{{type}}
									</mat-option>
								</mat-select>
							</mat-form-field>

							<mat-form-field fxFlex>
								<mat-select placeholder="{{'FIELD_TO_AGGREGATE' | translate}}" formControlName="AGGREGATION_RELATED_FIELD">
									<mat-option *ngFor="let aggregationRelatedField of aggregationRelatedFields" [value]="aggregationRelatedField.FIELD_ID">
										{{aggregationRelatedField.DISPLAY_LABEL}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<div fxLayout="row">
								<button style="height: 40px; margin-top: 10px;" type="button" mat-raised-button color="primary"
									(click)="openConditionsDialog()">{{'CONDITIONS'| translate}}
								</button>
							</div>
						</div>
						<div fxLayout="row" fxLayoutGap="20px">
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'PREFIX' | translate}}" formControlName="PREFIX">
							</mat-form-field>
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'SUFFIX' | translate}}" formControlName="SUFFIX">
							</mat-form-field>
							<mat-form-field fxFlex>
								<mat-select placeholder="{{'NUMERIC_FORMAT' | translate}}" formControlName="NUMERIC_FORMAT">
									<mat-option *ngFor="let numericFormat of numericFormats" [value]="numericFormat">
										{{numericFormat}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>

					<!--TEXT-->
					<div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'Text'">
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="2" placeholder="{{'DEFAULT_VALUE' | translate}}" formControlName="DEFAULT_VALUE">
							</mat-form-field>
							<mat-form-field fxFlex>
								<input type="number" matInput tabindex="3" placeholder="{{'MAX_LENGTH' | translate}}" formControlName="LENGTH">
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<div fxLayout="row" fxLayoutGap="5px" fxFlex>
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
							<mat-checkbox fxLayoutAlign="center center" [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED">
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
							<mat-checkbox fxLayoutAlign="end center" [disabled]="true" [labelPosition]="'after'" formControlName="NOT_EDITABLE" fxFlex>
								{{'NOT_EDITABLE' | translate}}
							</mat-checkbox>
						</div>
					</div>

					<!--TEXTAREA-->
					<div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'Text Area'">
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<mat-form-field fxFlex>
								<input matInput type="text" placeholder="{{'DEFAULT_VALUE' | translate}}" tabindex="2" formControlName="DEFAULT_VALUE">
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<div fxLayout="row" fxLayoutGap="5px" fxFlex>
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
							<mat-checkbox fxLayoutAlign="center center" [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED" fxFlex>
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
							<mat-checkbox fxLayoutAlign="end center" [disabled]="true" [labelPosition]="'after'" formControlName="NOT_EDITABLE" fxFlex>
								{{'NOT_EDITABLE' | translate}}
							</mat-checkbox>
						</div>
					</div>

					<!--TIME-->
					<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" *ngSwitchCase="'Time'">
						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<mat-form-field>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<div>
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>

						</div>
						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<mat-form-field>
								<input tabindex="2" placeholder="{{ 'DEFAULT_VALUE' | translate}}" matInput [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
									formControlName="DEFAULT_VALUE" (keypress)="false">
								<owl-date-time [pickerType]="'timer'" #dt></owl-date-time>
							</mat-form-field>
							<mat-checkbox [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED">
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
						</div>
					</div>
					<!-- Address -->
					<!-- <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" *ngSwitchCase="'Street 1' || 'Street 2'|| 'City' || 'State' ||'ZipCode'">
            <div fxLayout="column" fxLayoutGap="20px" fxFlex>
              <mat-form-field>
                <input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
              </mat-form-field>
              <mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
                {{'HIDDEN' | translate}}
              </mat-checkbox>
            </div>
            <div fxLayout="column" fxLayoutGap="20px" fxFlex>
              <mat-form-field>
                <input tabindex="2" placeholder="{{ 'DEFAULT_VALUE' | translate}}" matInput [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
                  formControlName="DEFAULT_VALUE">
                <owl-date-time [pickerType]="'timer'" #dt></owl-date-time>
              </mat-form-field>
              <mat-checkbox [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED">
                {{'REQUIRED_FIELD' | translate}}
              </mat-checkbox>
            </div>
          </div> -->

					<!-- EMAIL -->
					<div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'Email'">
						<div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<mat-form-field fxFlex>
								<input matInput type="email" placeholder="{{'DEFAULT_VALUE' | translate}}" tabindex="2" formControlName="DEFAULT_VALUE">
								<mat-error>{{'EMAIL_MUST_BE_VALID' | translate}}</mat-error>
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
							<div fxLayout="row" fxLayoutGap="5px" fxFlex>
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
							<mat-checkbox fxLayoutAlign="center center" [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED">
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
							<mat-checkbox fxLayoutAlign="end center" [disabled]="true" [labelPosition]="'after'" formControlName="NOT_EDITABLE" fxFlex>
								{{'NOT_EDITABLE' | translate}}
							</mat-checkbox>
						</div>
					</div>

					<!--List Text-->
					<div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'List Text'">
						<div fxLayout="row" fxFlexFill>
							<mat-form-field fxFlex>
								<input type="text" matInput placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<mat-checkbox [labelPosition]="'after'" formControlName="IS_LIST_TEXT_UNIQUE" fxFlex>
								{{'ITEMS_IN_LIST_MUST_UNIQUE' | translate}}
							</mat-checkbox>
							<mat-checkbox fxLayoutAlign="center center" [labelPosition]="'after'" formControlName="REQUIRED" fxFlex>
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
							<mat-checkbox fxLayoutAlign="end center" [disabled]="true" [labelPosition]="'after'" formControlName="NOT_EDITABLE" fxFlex>
								{{'NOT_EDITABLE' | translate}}
							</mat-checkbox>
						</div>
					</div>
					<!-- Formula -->
					<div fxLayout="column" *ngSwitchCase="'Formula'">
						<form [formGroup]="fieldSelectFormGroup" (ngSubmit)="save()" *ngIf="formulaFieldSet">
							<div fxLayout="row">
								<mat-form-field fxFlex="100">
									<textarea matInput cdkTextareaAutosize id="myTextArea" (click)="onClickOfTextArea($event.srcElement)"
										cdkAutosizeMinRows="5" placeholder="Create a Formula *" formControlName="formulaString"
										(keydown)="onkeydownOfFormula($event)"> </textarea>
								</mat-form-field>
							</div>
							<div fxLayout="row wrap">
								<div *ngFor="let field of formulaFields; index as i">
									<button
										*ngIf="field.DATA_TYPE.DISPLAY  !== 'Relationship' && field.RELATIONSHIP_TYPE !== 'One to Many' || isDefaultField(field)"
										type="button" style="margin-top:5px; margin-right:5px" mat-raised-button color="primary"
										(click)="insertInToBody(field)">{{field.DISPLAY_LABEL}}
									</button>

									<button
										*ngIf="field.DATA_TYPE.DISPLAY  === 'Relationship' && field.RELATIONSHIP_TYPE !== 'One to Many' && field.RELATIONSHIP_TYPE !== 'Many to Many' && !isDefaultField(field)"
										type="button" style="margin-top:5px; margin-right:5px" mat-raised-button color="primary"
										[matMenuTriggerFor]="relationshipVars">{{field.DISPLAY_LABEL}}</button>
									<mat-menu #relationshipVars="matMenu">
										<ng-container *ngFor="let relField of relatedFields[field.MODULE]; index as j">
											<button *ngIf="field.DATA_TYPE.DISPLAY !== 'Relationship'  || isDefaultField(relField)" mat-menu-item
												(click)="concatenateVariables(field, relField)">{{relField.DISPLAY_LABEL}}</button>
											<button
												*ngIf="relField.DATA_TYPE.DISPLAY === 'Relationship' && relField.RELATIONSHIP_TYPE !== 'Many to Many' && relField.RELATIONSHIP_TYPE !== 'One to Many' && !isDefaultField(relField)"
												mat-menu-item [matMenuTriggerFor]="subRelationshipVars">{{relField.DISPLAY_LABEL}}</button>
											<mat-menu #subRelationshipVars="matMenu">
												<ng-container *ngFor="let levelTwoRelField of relatedFields[relField.MODULE]; index as k">
													<button *ngIf="levelTwoRelField.DATA_TYPE.DISPLAY !== 'Relationship' || isDefaultField(levelTwoRelField)"
														mat-menu-item
														(click)="concatenateVariables(field, relField, levelTwoRelField)">{{levelTwoRelField.DISPLAY_LABEL}}</button>
													<button
														*ngIf="levelTwoRelField.DATA_TYPE.DISPLAY === 'Relationship' && levelTwoRelField.RELATIONSHIP_TYPE !== 'Many to Many' && !isDefaultField(levelTwoRelField)"
														mat-menu-item [matMenuTriggerFor]="subSubRelationshipVars">{{levelTwoRelField.DISPLAY_LABEL}}</button>
													<mat-menu #subSubRelationshipVars="matMenu">
														<ng-container *ngFor="let levelThreeRelField of relatedFields[levelTwoRelField.MODULE]; index as l">
															<button *ngIf="levelThreeRelField.DATA_TYPE.DISPLAY  !== 'Relationship'" mat-menu-item
																(click)="concatenateVariables(field, relField, levelTwoRelField, levelThreeRelField)">{{levelThreeRelField.DISPLAY_LABEL}}</button>
														</ng-container>
													</mat-menu>
												</ng-container>
											</mat-menu>
										</ng-container>
									</mat-menu>
								</div>
							</div>
							<mat-divider style="margin-top: 10px" fxLayout="row wrap"></mat-divider>
							<div style="padding: 20px 10px 0 10px;" fxLayout="row wrap" fxLayoutGap="10px grid">
								<mat-chip-list>
									<mat-chip class="mat-h4" *ngFor="let field of formulaOperators" (click)="insertInToBody(field)" color="primary" selected>
										{{field.DISPLAY_LABEL}}</mat-chip>
								</mat-chip-list>
							</div>
							<mat-divider style="margin-top: 10px" fxLayout="row wrap"></mat-divider>
							<div style="padding: 20px 10px 0 10px;" fxLayout="row wrap" fxLayoutGap="10px grid">
								<mat-chip-list>
									<mat-chip class="mat-h4" *ngFor="let field of formulaSpecialOperators" (click)="insertInToBody(field)" color="primary"
										selected>
										{{field.DISPLAY_LABEL}}</mat-chip>
								</mat-chip-list>
							</div>
						</form>
						<div fxLayout="row" fxLayoutGap="50px" fxFlex="32">
							<mat-form-field fxFlex="32">
								<input type="text" matInput tabindex="1" placeholder="{{'PREFIX' | translate}}" formControlName="PREFIX">
							</mat-form-field>
							<mat-form-field fxFlex="32">
								<input type="text" matInput tabindex="1" placeholder="{{'SUFFIX' | translate}}" formControlName="SUFFIX">
							</mat-form-field>
							<mat-form-field fxFlex="32">
								<mat-select placeholder="{{'NUMERIC_FORMAT' | translate}}" formControlName="NUMERIC_FORMAT">
									<mat-option *ngFor="let numericFormat of numericFormats" [value]="numericFormat">
										{{numericFormat}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>


					<!--LIST FORMULA-->
					<div fxLayout="column" *ngSwitchCase="'List Formula'">
						<label class="mat-body-strong" fxLayoutAlign="end center">{{"ADD_FORMULA" | translate}}
							<button mat-icon-button (click)="addFormulaToList()">
								<mat-icon class="pointer">add_circle</mat-icon>
							</button></label>
						<mat-accordion>
							<div [formArray]="listFormulaFormArray" (ngSubmit)="save()">
								<div class="pad10" *ngFor="let formulaGroup of listFormulaFormArray.controls; let i = index">
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											<mat-panel-title>
												{{formulaGroup.value.FORMULA_LABEL}}
											</mat-panel-title>
											<mat-panel-description [matTooltip]="formulaGroup.value.formulaString">
												{{formulaGroup.value.formulaString | truncate:100 }}
											</mat-panel-description>
										</mat-expansion-panel-header>
										<form [formGroup]="formulaGroup">
											<div fxLayoutAlign="start center" fxLayoutGap=10px>
												<mat-form-field>
													<input matInput formControlName="FORMULA_LABEL" type="text" placeholder="{{'FORMULA_LABEL' | translate}}" required
														maxlength="50">
												</mat-form-field>
												<mat-form-field>
													<input matInput (focus)="updateFormulaName(formulaGroup)" formControlName="FORMULA_NAME" type="text"
														placeholder="{{'FORMULA_NAME' | translate}}" required maxlength="50">
												</mat-form-field>
												<!-- <mat-icon class="pointer" (click)="removeFormulaFromList(i)">remove_circle</mat-icon> -->
											</div>
											<div fxLayout="row">
												<mat-form-field fxFlex="100">
													<textarea matInput cdkTextareaAutosize [id]="'myTextArea' + i" (click)="onClickOfTextArea($event.srcElement)"
														cdkAutosizeMinRows="5" placeholder="Create a Formula *" formControlName="formulaString"
														(keydown)="onkeydownOfFormula($event)"> </textarea>
												</mat-form-field>
											</div>
											<div fxLayout="row wrap">
												<div *ngFor="let field of formulaFields; index as f">
													<button
														*ngIf="field.DATA_TYPE.DISPLAY  !== 'Relationship' && field.RELATIONSHIP_TYPE !== 'One to Many'  || isDefaultField(field)"
														type="button" style="margin-top:5px; margin-right:5px" mat-stroked-button color="primary"
														(click)="insertInToBody(field,formulaGroup, i)">{{field.DISPLAY_LABEL}}
													</button>

													<button
														*ngIf="field.DATA_TYPE.DISPLAY  === 'Relationship' && field.RELATIONSHIP_TYPE !== 'One to Many' && field.RELATIONSHIP_TYPE !== 'Many to Many' && !isDefaultField(field)"
														type="button" style="margin-top:5px; margin-right:5px" mat-stroked-button color="primary"
														[matMenuTriggerFor]="relationshipVars">{{field.DISPLAY_LABEL}}</button>
													<mat-menu #relationshipVars="matMenu">
														<ng-container *ngFor="let relField of relatedFields[field.MODULE]; index as j">
															<button *ngIf="field.DATA_TYPE.DISPLAY !== 'Relationship'  || isDefaultField(relField)" mat-menu-item
																(click)="concatenateVariables(field, formulaGroup,i,relField)">{{relField.DISPLAY_LABEL}}</button>
															<button
																*ngIf="relField.DATA_TYPE.DISPLAY === 'Relationship' && relField.RELATIONSHIP_TYPE !== 'Many to Many' && relField.RELATIONSHIP_TYPE !== 'One to Many' && !isDefaultField(relField)"
																mat-menu-item [matMenuTriggerFor]="subRelationshipVars">{{relField.DISPLAY_LABEL}}</button>
															<mat-menu #subRelationshipVars="matMenu">
																<ng-container *ngFor="let levelTwoRelField of relatedFields[relField.MODULE]; index as k">
																	<button *ngIf="levelTwoRelField.DATA_TYPE.DISPLAY !== 'Relationship' || isDefaultField(levelTwoRelField)"
																		mat-menu-item
																		(click)="concatenateVariables(field, formulaGroup,i,relField, levelTwoRelField)">{{levelTwoRelField.DISPLAY_LABEL}}</button>
																	<button
																		*ngIf="levelTwoRelField.DATA_TYPE.DISPLAY === 'Relationship' && levelTwoRelField.RELATIONSHIP_TYPE !== 'Many to Many' && !isDefaultField(levelTwoRelField)"
																		mat-menu-item [matMenuTriggerFor]="subSubRelationshipVars">{{levelTwoRelField.DISPLAY_LABEL}}</button>
																	<mat-menu #subSubRelationshipVars="matMenu">
																		<ng-container *ngFor="let levelThreeRelField of relatedFields[levelTwoRelField.MODULE]; index as l">
																			<button *ngIf="levelThreeRelField.DATA_TYPE.DISPLAY  !== 'Relationship'" mat-menu-item
																				(click)="concatenateVariables(field, formulaGroup,i, relField, levelTwoRelField, levelThreeRelField)">{{levelThreeRelField.DISPLAY_LABEL}}</button>
																		</ng-container>
																	</mat-menu>
																</ng-container>
															</mat-menu>
														</ng-container>
													</mat-menu>
												</div>
											</div>
											<mat-divider style="margin-top: 10px" fxLayout="row wrap"></mat-divider>
											<div style="padding: 20px 10px 0 10px;" fxLayout="row wrap" fxLayoutGap="10px grid">
												<mat-chip-list>
													<mat-chip class="mat-h4" *ngFor="let field of formulaOperators" (click)="insertInToBody(field, formulaGroup, i)"
														color="primary" selected>
														{{field.DISPLAY_LABEL}}</mat-chip>
												</mat-chip-list>
											</div>
											<mat-divider style="margin-top: 10px" fxLayout="row wrap"></mat-divider>
											<div style="padding: 20px 10px 0 10px;" fxLayout="row wrap" fxLayoutGap="10px grid">
												<mat-chip-list>
													<mat-chip class="mat-h4" *ngFor="let field of formulaSpecialOperators"
														(click)="insertInToBody(field, formulaGroup, i)" color="primary" selected>
														{{field.DISPLAY_LABEL}}</mat-chip>
												</mat-chip-list>
											</div>
										</form>
									</mat-expansion-panel>
								</div>
							</div>
						</mat-accordion>
					</div>
					<!-- END LIST FORMULA-->

					<!-- Currency Exchange -->
					<div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'Currency Exchange'">
						<form [formGroup]="fieldForm" (ngSubmit)="save()">
							<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
								<mat-form-field fxFlex="40">
									<mat-select placeholder="{{'TO_CURRENCY' | translate}}" formControlName="TO_CURRENCY">
										<mat-option *ngFor="let field of currencyExchangefields" [value]="field.FIELD_ID">
											{{field.DISPLAY_LABEL}}
										</mat-option>
									</mat-select>
									<mat-error>{{'REQUIRED_FIELD' | translate}}</mat-error>
								</mat-form-field>
								<mat-form-field fxFlex="40">
									<mat-select placeholder="{{'FROM_CURRENCY' | translate}}" formControlName="FROM_CURRENCY">
										<mat-option *ngFor="let field of currencyExchangefields" [value]="field.FIELD_ID">
											{{field.DISPLAY_LABEL}}
										</mat-option>
									</mat-select>
									<mat-error>{{'REQUIRED_FIELD' | translate}}</mat-error>
								</mat-form-field>
								<mat-form-field fxFlex="40">
									<mat-select placeholder="{{'DATE_INCURRED' | translate}}" formControlName="DATE_INCURRED">
										<mat-option *ngFor="let field of dateFields" [value]="field.FIELD_ID">
											{{field.DISPLAY_LABEL}}
										</mat-option>
									</mat-select>
									<mat-error>{{'REQUIRED_FIELD' | translate}}</mat-error>
								</mat-form-field>
							</div>
							<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
								<mat-form-field fxFlex="40">
									<input type="text" matInput placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
								</mat-form-field>
								<mat-form-field fxFlex="40">
									<input type="text" matInput placeholder="{{'PREFIX' | translate}}" formControlName="PREFIX">
								</mat-form-field>
								<div fxLayoutAlign="center center">
									<mat-checkbox [labelPosition]="'after'" formControlName="VISIBILITY">
										{{'HIDDEN' | translate}}
									</mat-checkbox>
									<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">
										help_outline</mat-icon>
								</div>
							</div>
							<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
								<mat-form-field fxFlex="40">
									<input matInput type="number" placeholder="{{'DEFAULT_VALUE' | translate}}" formControlName="DEFAULT_VALUE">
								</mat-form-field>
								<mat-form-field fxFlex="40">
									<input type="text" matInput placeholder="{{'SUFFIX' | translate}}" formControlName="SUFFIX">
								</mat-form-field>
								<div fxLayoutAlign="center center">
									<mat-checkbox [labelPosition]="'after'" formControlName="REQUIRED">
										{{'REQUIRED_FIELD' | translate}}
									</mat-checkbox>
								</div>
							</div>

						</form>

					</div>

					<!-- PHONE -->
					<div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'Phone'">
						<div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
							<mat-form-field fxFlex="50">
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px" [formGroup]="phoneNumberForm">
								<mat-form-field fxFlex>
									<mat-select formControlName="COUNTRY" placeholder="{{'DEFAULT_VALUE_COUNTRY' | translate}}">
										<mat-option *ngFor="let country of renderLayoutService.countries" [value]="country">
											<img [ngStyle]="{'margin-right': '10px'}" aria-hidden
												[src]="'../../assets/images/country-flags/' + country.COUNTRY_FLAG" height="25">
											<span>{{country.COUNTRY_NAME}}</span> |
											<small>{{country.COUNTRY_DIAL_CODE}}</small>
										</mat-option>
									</mat-select>
									<mat-error *ngIf="phoneNumberForm.controls.COUNTRY.errors?.required">
										{{'REQUIRED_FIELD' | translate}}
									</mat-error>
								</mat-form-field>
								<mat-form-field fxFlex>
									<input matInput type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
										placeholder="{{'DEFAULT_VALUE_PHONE_NUMBER' | translate}}" formControlName="PHONE_NUMBER">
									<mat-error *ngIf="phoneNumberForm.controls.PHONE_NUMBER.errors?.required">
										{{'REQUIRED_FIELD' | translate}}</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<div fxLayout="row" fxLayoutGap="5px" fxFlex>
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
							<mat-checkbox fxLayoutAlign="center center" [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED" fxFlex>
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
							<mat-checkbox fxLayoutAlign="end center" [disabled]="true" [labelPosition]="'after'" formControlName="NOT_EDITABLE" fxFlex>
								{{'NOT_EDITABLE' | translate}}
							</mat-checkbox>
						</div>
					</div>
					<!--Chronometer-->
					<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" *ngSwitchCase="'Chronometer'">
						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<mat-form-field>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<div fxLayout="row" fxLayoutAlign="start center">
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>

						</div>
						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<div fxLayout="row" fxLayoutAlign="start center">
								<mat-form-field>
									<input matInput type="text" placeholder="{{'DEFAULT_VALUE' | translate}}" tabindex="2" formControlName="DEFAULT_VALUE">
								</mat-form-field>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'SAMPLE_CHRONOMETER_HINT' | translate}}">
									help_outline
								</mat-icon>
							</div>
							<mat-checkbox [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED">
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
						</div>
					</div>
					<!--Chronometer sample text-->
					<div style="margin-top: 1%;" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="2%" *ngSwitchCase="'Chronometer'">
						<div>
							<h4 class="mat-h4" style="margin-bottom: 0px;">{{'SAMPLE_CHRONOMETER_TEXT' | translate}}
							</h4>
						</div>
						<mat-form-field>
							<input disabled type="text" matInput tabindex="1" value="0mo 1w 2d 13h 45m">
						</mat-form-field>
					</div>
					<!--Currency-->
					<div fxLayout="column" fxLayoutGap="20px" *ngSwitchCase="'Currency'">
						<div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<mat-form-field fxFlex>
								<input matInput type="text" placeholder="{{'DEFAULT_VALUE' | translate}}" tabindex="2" formControlName="DEFAULT_VALUE">
								<mat-icon style="transform: scale(0.7);" matSuffix matTooltip="{{'DEFAULT_CURRENCY_HINT' | translate}}">
									help_outline</mat-icon>
							</mat-form-field>
							<mat-form-field fxFlex>
								<mat-select placeholder="{{'NUMERIC_FORMAT' | translate}}" formControlName="NUMERIC_FORMAT">
									<mat-option *ngFor="let numericFormat of numericFormats" [value]="numericFormat">
										{{numericFormat}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'SUFFIX' | translate}}" formControlName="SUFFIX">
							</mat-form-field>
							<mat-form-field fxFlex>
								<input type="text" matInput tabindex="1" placeholder="{{'PREFIX' | translate}}" formControlName="PREFIX">
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
							<div fxLayout="row" fxLayoutGap="5px" fxFlex>
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
							<mat-checkbox fxLayoutAlign="center center" [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED" fxFlex>
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
							<mat-checkbox fxLayoutAlign="end center" [disabled]="true" [labelPosition]="'after'" formControlName="NOT_EDITABLE" fxFlex>
								{{'NOT_EDITABLE' | translate}}
							</mat-checkbox>
						</div>
					</div>

					<!--BUTTON-->
					<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" *ngSwitchCase="'Button'">
						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<mat-form-field>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
						</div>

						<div fxLayout="column" fxLayoutGap="20px" fxFlex>
							<mat-form-field *ngIf="workflows.length > 0">
								<mat-select placeholder="{{'Workflow' | translate}}" formControlName="WORKFLOW">
									<mat-option *ngFor="let workflow of workflows" [value]="workflow.WORKFLOW_ID">
										{{workflow.NAME}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
					<!--File upload-->
					<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" *ngSwitchCase="'File Upload'">
						<div fxLayout="row" fxLayoutAlign="Start center" fxLayoutGap="20px">
							<mat-form-field>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
						</div>
					</div>

					<!--Receipt Capture-->
					<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" *ngSwitchCase="'Receipt Capture'">
						<div fxLayout="row" fxLayoutAlign="Start center" fxLayoutGap="20px">
							<mat-form-field>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
						</div>
					</div>


					<!--URL, PHONE, DISCUSSION-->
					<div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="20px" *ngSwitchDefault>
						<div fxLayout="column" fxLayoutGap="20px">
							<mat-form-field>
								<input type="text" matInput tabindex="1" placeholder="{{'HELP_TEXT' | translate}}" formControlName="HELP_TEXT">
							</mat-form-field>
							<div fxLayout="row" fxLayoutAlign="start center" *ngIf="!fieldForm.get('DATA_TYPE').value['DISPLAY']">
								<mat-checkbox [labelPosition]="'after'" tabindex="3" formControlName="VISIBILITY">
									{{'HIDDEN' | translate}}
								</mat-checkbox>
								<mat-icon style="transform: scale(0.7);" matTooltip="{{'HIDDEN_FIELD_HINT' | translate}}">help_outline
								</mat-icon>
							</div>
						</div>
						<div fxLayout="column" fxLayoutGap="20px" *ngIf="!fieldForm.get('DATA_TYPE').value['DISPLAY']">
							<mat-form-field>
								<input matInput type="text" placeholder="{{'DEFAULT_VALUE' | translate}}" tabindex="2" formControlName="DEFAULT_VALUE">
							</mat-form-field>
							<mat-checkbox [labelPosition]="'after'" tabindex="4" formControlName="REQUIRED">
								{{'REQUIRED_FIELD' | translate}}
							</mat-checkbox>
						</div>
					</div>
				</ng-container>
				<div *ngIf="!fieldForm.get('DATA_TYPE').value['DISPLAY']">
					style="padding: 10px 0px 0px 0px;">
					<mat-checkbox fxFlex="30" [disabled]="true" [labelPosition]="'after'" formControlName="NOT_EDITABLE">
						{{'NOT_EDITABLE' | translate}}
					</mat-checkbox>
				</div>
			</form>
		</mat-card>
	</div>
</div>
