<div fxLayout="column" fxLayoutAlign="center" style="height:100vh;background: linear-gradient(var(--primaryColor),var(--blendColor))"
	fxFlex="100" fxLayoutGap="20px">
	<div style="height:80vh;" fxLayoutGap="20px">
		<div fxLayout="row" fxLayoutAlign="center center">
			<div style="margin-top: 20px;">
				<form [formGroup]="signupForm" (ngSubmit)="signUp()" fxFlex="40" fxFlex.lt-md="450px">
					<mat-card fxLayout="column" fxLayoutGap="10px" style="border-radius: 15px;min-width: 600px;padding: 20px;padding-bottom: 0px;">
						<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
							<img *ngIf="signupIcon" [src]="signupIcon" alt="logo" height="64" width="64">
							<div><label class="mat-h1">{{ header }}</label></div>
						</div>
						<div fxLayout="row" fxLayoutAlign="center">
							<mat-error>{{errorMessage}}</mat-error>
						</div>
						<mat-form-field class="field-no-bottom-padding" appearance="outline" floatLabel="always">
							<mat-label>{{'EMAIL' | translate}}</mat-label>
							<input type="email" matInput name="email" formControlName="signupEmailAddress">
							<mat-error style="margin-top: 10px;" *ngIf="signupForm.controls.signupEmailAddress.invalid"
								[innerHTML]="getEmailErrorMessage()"></mat-error>
						</mat-form-field>
						<mat-form-field class="field-no-bottom-padding" appearance="outline" floatLabel="always">
							<mat-label>{{'PASSWORD' | translate}}</mat-label>
							<input type="password" matInput name="password" formControlName="signupPassword">
							<mat-error style="margin-top: 10px;" *ngIf="signupForm.controls.signupPassword.hasError('minlength') &&
          !signupForm.controls.signupPassword.hasError('required')">{{'PASSWORD_SHOULD_MINIMUM_8_CHARACTERS' | translate}}</mat-error>
							<mat-error style="margin-top: 10px;" translate [translateParams]="{requirement: translateService.instant('CAPITAL_LETTER')}"
								*ngIf="signupForm.controls.signupPassword.hasError('uppercaseReq') &&
            !signupForm.controls.signupPassword.hasError('required')">PASSWORD_MISSING_REQUIREMENT</mat-error>
							<mat-error style="margin-top: 10px;" translate [translateParams]="{requirement: translateService.instant('NUMBER')}" *ngIf="signupForm.controls.signupPassword.hasError('numberReq') &&
            !signupForm.controls.signupPassword.hasError('required')">PASSWORD_MISSING_REQUIREMENT</mat-error>
							<mat-error style="margin-top: 10px;" translate
								[translateParams]="{requirement: translateService.instant('SPECIAL_CHARACTER')}" *ngIf="signupForm.controls.signupPassword.hasError('specialCharReq') &&
            !signupForm.controls.signupPassword.hasError('required')">PASSWORD_MISSING_REQUIREMENT</mat-error>
							<mat-error style="margin-top: 10px;" *ngIf="signupForm.controls.signupPassword.hasError('required')"
								[innerHTML]="'FIELD_REQUIRED' | translate:{ field: translateService.instant('PASSWORD') }"></mat-error>
						</mat-form-field>
						<mat-form-field class="field-no-bottom-padding" appearance="outline" floatLabel="always">
							<mat-label>{{'CONFIRM_PASSWORD' | translate}}</mat-label>
							<input type="password" matInput name="confirm_password" formControlName="signupConfirmPassword" [errorStateMatcher]="matcher">
							<mat-error style="margin-top: 10px;"
								*ngIf="signupForm.controls.signupConfirmPassword.invalid && !signupForm.hasError('notSame')"
								[innerHTML]="'FIELD_REQUIRED' | translate:{ field: translateService.instant('CONFIRM_PASSWORD') }"></mat-error>
							<mat-error style="margin-top: 10px;" *ngIf="signupForm.hasError('notSame')">{{'PASSWORD_DO_NOT_MATCH' | translate}}
							</mat-error>
						</mat-form-field>
						<mat-form-field class="field-no-bottom-padding" appearance="outline" floatLabel="always">
							<mat-label>{{'FIRST_NAME' | translate}}</mat-label>
							<input type="text" matInput name="first_name" formControlName="signupFirstName">
							<mat-error style="margin-top: 10px;" *ngIf="signupForm.controls.signupFirstName.invalid"
								[innerHTML]="'FIELD_REQUIRED' | translate:{ field: translateService.instant('FIRST_NAME') }"></mat-error>
						</mat-form-field>
						<mat-form-field class="field-no-bottom-padding" appearance="outline" floatLabel="always">
							<mat-label>{{'LAST_NAME' | translate }}</mat-label>
							<input type="text" matInput name="last_name" formControlName="signupLastName">
							<mat-error style="margin-top: 10px;" *ngIf="signupForm.controls.signupLastName.invalid"
								[innerHTML]="'FIELD_REQUIRED' | translate:{ field: translateService.instant('LAST_NAME') }"></mat-error>
						</mat-form-field>
						<div fxFlex=100%>
							<mat-form-field class="no-line" fxLayout="row" fxFlex="7.8%">
								<div class="pointer" matPrefix>
									<img aria-hidden [src]="'../../assets/images/country-flags/' + signupForm.value.signupPhoneNumber.COUNTRY_FLAG"
										height="25">
									<mat-select (selectionChange)="updatePhoneInfo($event.value)">
										<mat-option *ngFor="let country of renderLayoutService.countries; index as i" [value]="country">
											<img class="flag-img" aria-hidden [src]="'../../assets/images/country-flags/' + country.COUNTRY_FLAG" height="25">
											<span>{{country.COUNTRY_NAME}}</span> | <small>{{country.COUNTRY_DIAL_CODE}}</small>
										</mat-option>
									</mat-select>
								</div>
							</mat-form-field>
							<mat-form-field class="field-no-bottom-padding" fxFlex="92.2%" [ngStyle]="{'margin-top': '5px'}" appearance="outline"
								floatLabel="always">
								<mat-label>{{'PHONE_NUMBER' | translate }}</mat-label>
								<div fxLayout="row">
									<span>{{signupForm.value.signupPhoneNumber.DIAL_CODE}}</span>
									<input type="tel" matInput name="phone" aria-label="Phone" formControlName="phoneNumber">
								</div>
								<mat-error *ngIf="signupForm.controls.signupPhoneNumber.invalid"
									[innerHTML]="'FIELD_REQUIRED' | translate:{ field: translateService.instant('PHONE_NUMBER') }"></mat-error>
							</mat-form-field>
						</div>


						<div fxLayoutAlign="center" id="ngdesk_gcaptcah"></div>
						<span *ngIf="captchaError" fxLayoutAlign="center">{{'PLEASE_CONFIRM_HUMANITY' | translate}}.</span>
						<button type="submit" mat-raised-button color="primary">{{'SUBMIT' | translate}}</button><br />
					</mat-card>
				</form>
			</div>
		</div>
	</div>
	<div fxFlex></div>
	<div fxLayoutAlign="flex-end end" style="padding: 20px">
		<label style="color: white;" class=" mat-body"><a style="color: white;" href="https://www.ngdesk.com" target="_blank">Powered by
				ngDesk</a> &#169;</label>
	</div>
</div>
