/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/

.selected {
	background-color: #d8d6d6;
}

.unSelected {
	background-color: white;
}

// @keyframes hide {
//     from { opacity: 0;}
//     to { opacity:1 ;}
// }
