<div style="width: 100%; height: 100%;" fxLayoutAlign="start center" fxLayout="column">
	<div fxLayoutAlign="center start" fxLayout="row" style="width: 100%;">
		<div fxLayout="row" style="width: 40%;">
			<div fxFlex="100" class="mat-h3">{{'REJECTED_BY' | translate}}</div>
		</div>
		<div fxLayout="row" style="width: 60%;">
			<div fxFlex="100" class="mat-h3">{{'COMMENT' | translate}}</div>
		</div>
	</div>
	<div *ngFor="let deniedData of deniedBy" fxLayoutAlign="start start" fxLayout="column" fxFlex="90"
		style="width: 100%;">
		<div fxLayout="row" style="width: 100%;">
			<div style="width: 40%; padding-top: 20px;" class="mat-h4">{{deniedData.deniedUser.CONTACT.FULL_NAME}}</div>
			<textarea style="width: 60%;" [disabled]="true">{{deniedData.deniedComments}}</textarea>
		</div>
	</div>
	<button mat-raised-button color="primary" (click)="close()">{{'CLOSE' | translate}}</button>
</div>
