<h1 mat-dialog-title class="mat-h1">{{data.dialogTitle}}</h1>
<mat-divider></mat-divider>

<div mat-dialog-content style="width:600px;height:auto">
	<div fxLayoutAlign="center" fxLayout="column" style="margin-top:4%;">
		<mat-label *ngIf="fields.length === 0">
			{{'FIELD_NOT_EXIST' | translate}}
		</mat-label>
		<div fxLayout="row" fxFlex="100" *ngFor="let fields of fields; let i = index">
			<div fxLayout="column" fxFlex="40">
				<mat-label for="singleFile" style="margin-top:9%;font-family:Roboto, Helvetica Neue, sans-serif">
					{{fields.DISPLAY_LABEL}}:</mat-label>
			</div>
			<div fxLayout="column" fxFlex="60">
				<mat-form-field>
					<mat-select name="test" placeholder="Select a field" [(ngModel)]="headerMap[fields.FIELD_ID]">
						<mat-option>
							None
						</mat-option>
						<mat-option *ngFor="let field of headers" [value]="field">
							{{field}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div fxLayout="row" *ngIf="dateTimeField" fxFlex="100">
			<div fxLayout="column" fxFlex="40">
				<mat-label style="margin-top:9%;font-family:Roboto, Helvetica Neue, sans-serif">
					Select date/time format:</mat-label>
			</div>
			<div fxLayout="column" fxFlex="60">
				<mat-form-field>
					<mat-select placeholder="date/time format" [(ngModel)]="selectedDateTimeFormat">
						<mat-option *ngFor="let separator of dateTimeFormat" [value]="separator">
							{{separator}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div fxLayout="row" *ngIf="dateField" fxFlex="100">
			<div fxLayout="column" fxFlex="40">
				<mat-label style="margin-top:9%;font-family:Roboto, Helvetica Neue, sans-serif">
					Select date format:</mat-label>
			</div>
			<div fxLayout="column" fxFlex="60">
				<mat-form-field>
					<mat-select placeholder="date format" [(ngModel)]="selectedDate">
						<mat-option *ngFor="let separator of dateFormat" [value]="separator">
							{{separator}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div fxLayout="row" *ngIf="timeField" fxFlex="100">
			<div fxLayout="column" fxFlex="40">
				<mat-label style="margin-top:9%;font-family:Roboto, Helvetica Neue, sans-serif">
					Select time format:</mat-label>
			</div>
			<div fxLayout="column" fxFlex="60">
				<mat-form-field fxFlex="60">
					<mat-select placeholder="time format" [(ngModel)]="selectedTimeFormat">
						<mat-option *ngFor="let separator of timeFormat" [value]="separator">
							{{separator}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div fxLayout="row" *ngIf="phoneField" fxFlex="100">
			<div fxLayout="column" fxFlex="40"></div>
			<div fxLayout="column" fxFlex="50">
				<mat-form-field>
					<mat-select placeholder="Select separator" [(ngModel)]="selectedSeparator">
						<mat-option *ngFor="let separator of separators" [value]="separator">
							{{separator}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>
</div>

<div mat-dialog-actions fxLayoutAlign="end" [ngStyle]="{'margin-top':'40px'}">
	<button mat-raised-button type="button" [mat-dialog-close]="data.closeDialog">{{data.closeDialog}}</button>
	<button *ngIf="fields.length > 0" mat-raised-button color="primary" (click)="onImportCsv()" type="button">{{data.buttonText}}</button>
</div>
