<StackLayout>
  <Label text="new-name-description works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <!-- <div formGroupName="nameDescForm" fxLayout="row" fxLayoutGap="10px" fxFlex> ->
  <div fxLayout="row" fxLayoutGap="10px" fxFlex>
    <mat-form-field>
      <input matInput placeholder="{{'NAME' | translate}}" formControlName="NAME" value="{{fgd.value.NAME}}" required>
      <mat-error>{{'FIELD_IS' | translate:params}} <strong>{{'REQUIRED' | translate}}</strong></mat-error>
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput placeholder="{{'DESCRIPTION' | translate}}" formControlName="DESCRIPTION" value="{{fgd.value.DESCRIPTION}}">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <button [disabled]="disabledButton" *ngIf="altButton" type="button" (click)="altButtonEmit()" mat-raised-button color="primary">
      {{altButtonTitle}}
    </button>
    <button [disabled]="disabledButton" *ngIf="schedulesButton" type="button" (click)="schedulesButtonEmit()" mat-raised-button
      color="primary">
      {{schedulesButtonTitle}}
    </button>
    <button [disabled]="disabledButton" type="submit" mat-raised-button color="primary">
      {{buttonText}}
    </button>
  </div>
</div>

-->