<div class="parent" [@slide]="activePane" style="padding-top:20px; padding-bottom: 20px">
  <!-- First view of panel, will project component specified as paneOne in parent -->
  <div>
    <ng-content select="[paneOne]"></ng-content>
  </div>
  <!-- Second view of panel, will project component specified as paneTwo in parent -->
  <div>
    <ng-content select="[paneTwo]"></ng-content>
  </div>
  <!-- Third view of panel, will project component specified as paneThree in parent -->
  <div>
    <ng-content select="[paneThree]"></ng-content>
  </div>
</div>