<StackLayout>
  <Label text="ChannelsListComponent works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<app-toolbar [templateRef]="headerTemplateRef"></app-toolbar>
<div fxLayout="column" fxLayoutGap="10px" class="pad10">
	<ng-template #headerTemplateRef>
		<app-title-bar *ngIf="this.channelType!=='sms'" title="{{title | translate}}" buttonText="{{'NEW' | translate}}"
			(buttonRightOnClick)="newChannel()"></app-title-bar>
		<app-title-bar *ngIf="this.channelType==='sms'" title="{{title | translate}}"></app-title-bar>
	</ng-template>
	<div fxLayout="row">
		<div fxFlex fxLayout="row">
			<table *ngIf="showSideNav" fxFlex="13" fxFlex.lt-lg="20" mat-table [dataSource]="navigations" class="mat-elevation-z8">
				<ng-container matColumnDef="NAME">
					<div *ngIf="ticketsId === moduleId">
						<th class="custom-theme-icon-color" mat-header-cell *matHeaderCellDef>
							{{ 'TICKETS_MODULE' | translate}}
						</th>
					</div>
					<div *ngIf="ticketsId !== moduleId">
						<th class="custom-theme-icon-color" mat-header-cell *matHeaderCellDef>
							<div class="trim-info" matTooltip="{{moduleName}}">
								{{ moduleName | truncate : 10 }} {{ 'MODULE' | translate}}</div>
						</th>
					</div>
					<td matRipple class="no-wrap" mat-cell *matCellDef="let element" class="pointer"
						[ngClass]="{ 'module-page-active': element.NAME == 'CHANNELS'}">
						{{element.NAME | translate}} </td>
				</ng-container>
				<tr class="custom-theme-primary-color" mat-header-row *matHeaderRowDef="['NAME']"></tr>
				<tr mat-row *matRowDef="let row; columns: ['NAME'];" [routerLink]="row.PATH" [appHighlight]="{BACKGROUND: '#ececec'}"></tr>
			</table>
			<div class="pad10" style="margin-left: -10px;">
				<button mat-icon-button
					[ngStyle]="{'border': (showSideNav) ? '2px solid white' : '2px solid #3f51b5', 'margin-left' : (showSideNav) ? '-48px' : '0px'}"
					(click)="showSideNav = !showSideNav" style="border-radius: 3px; margin-top: -2px;">
					<mat-icon color="primary" style="margin-top: -5px;" *ngIf="!showSideNav">
						keyboard_arrow_right</mat-icon>
					<mat-icon class="custom-theme-icon-color" style="margin-top: -5px;" *ngIf="showSideNav">
						keyboard_arrow_left</mat-icon>
				</button>
			</div>
			<div fxLayout="column" fxFlex="100" *ngIf="!isLoading">
				<app-custom-table *ngIf="(this.channelType==='sms' && !isTwilioRequested && totalRecords>0)||this.channelType!=='sms'"
					[templateRef]="columnTemplateRef" (rowClickedEvent)="rowClicked($event)" noRecordsMessage="No channels found"
					[actions]="channelActions.actions" (menuItemTrigger)="channelActions[$event.ACTION.NAME]($event.ROW_DATA);"
					(sortData)="sortData($event);customTableService.isLoading = true" fxFlex>
					<ng-template #columnTemplateRef let-element="element" let-col="col">
						<div fxLayout="row" fxLayoutAlign="start center">
							<mat-icon style="cursor: pointer; transform: scale(0.8);" fxLayoutAlign="end end" fxFlexAlign="end"
								*ngIf="(col.NAME==='NAME') && (notMapped.get(element[col.NAME]))" matTooltip="{{'SETUP_EMAIL_CHANNEL' | translate}} "
								color="warn">
								warning</mat-icon>
							<span *ngIf="(col.NAME==='NAME') && !(notMapped.get(element[col.NAME]))"></span>
							<span>{{element[col.NAME]}}</span>
						</div>
					</ng-template>
				</app-custom-table>
			</div>
			<div *ngIf="this.channelType=='sms' && isLoading" style="padding-left:35vw">
				<mat-spinner></mat-spinner>
			</div>
			<div fxLayout="column" class="pad10" *ngIf="this.channelType=='sms' && !isTwilioRequested && !isLoading && totalRecords === 0">
				<div class="mat-h3" style="text-align: center; margin-bottom: 30px">
					{{ 'TWILIO_INFO' | translate}}
				</div>
				<div fxLayout="row wrap">
					<div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" *ngFor="let country of twilioCountries"
						style="margin: 0 20px 20px 0; border-width: 1px; padding: 5px; word-break: break-all">
						<img (click)="newChannel(country)" class="pointer" aria-hidden [src]="
                        '../../assets/images/country-flags/' +
                        country.COUNTRY_FLAG
                      " height="55vh" width="55vw" />
						<div (click)="newChannel(country)" class="mat-h3 pointer">{{ country.COUNTRY_NAME.toUpperCase() }}</div>
					</div>
				</div>
			</div>
			<div *ngIf="this.channelType=='sms' && isTwilioRequested">
				<div fxLayout="row" fxLayoutGap="10px">
					<div fxFlex="80" class="mat-h3" style="margin-bottom: 30px; padding: 20px;">
						{{ 'TWILIO_REQUESTED' | translate}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

-->